

<div class="col-lg-4 col-xs-3 texto_admin_mini">
										{NOMBRE_ENCABEZADO}
									</div>
									<div class="col-lg-8 col-xs-9">									
                                         <select class="form-control texto_admin_mini" name="{NOMBRE}">
												<option value="">Todas</option>
                                                {OPTIONS}
                                               

											</select>
									</div>
                                    
                                    
                                    