<table>
	<tr>
		<th class="bg_gray">NUM IMPARTICION</td> <th class="bg_gray">ID_PROGRAMA</td> <th class="bg_gray">PROGRAMA</td> 
			<th class="bg_gray">NOMBRE CURSO</td> <th class="bg_gray">EJECUTIVO A CARGO</td> <th class="bg_gray">RELATOR INTERNO / EXTERNO</td>
				 <th class="bg_gray">CONSULTORA</td> <th class="bg_gray">CIUDAD</td> <th class="bg_gray">DIRECCION</td> 
				 	<th class="bg_gray">FECHA INICIO</td> <th class="bg_gray">FECHA TERMINO</td> <th class="bg_gray">INSCRITOS</td> 
				 		<th class="bg_gray">CON_RESPUESTA</td> <th class="bg_gray">TASA RESPUESTA</td> <th class="bg_gray">Nota General</td> 
				 			<th class="bg_gray">Recomendacion de la Capacitacion</td> <th class="bg_gray">Aplicacion al Puesto de Trabajo</td> 
				<th class="bg_gray">Contenidos: Eficacia de los contenidos expuestos</td> 
					<th class="bg_gray">Relator</td> <th class="bg_gray">Recomendacion de Relator</td> 
						<th class="bg_gray">Metodologia: Utilidad de los mEtodos de ensenanza aplicados</td> 
							<th class="bg_gray">Servicios y Logistica Calidad de los servicios y logistica del curso</td> <th class="bg_gray"></td>
	</tr>

