<tr>
	<td class="miniSt"><strong>{CURSO}</strong></td>
	<td class="miniSt">{CODIGOINCRIPCION}</td>
	<td class="miniSt">{ID_CURSO}</td>
	<td class="miniSt">{EJECUTIVO}</td>
	<td class="miniSt">{FECHA_INICIO}<br>{FECHA_TERMINO}<br>{DIRECCION} {CIUDAD}</td>
	<td class="miniSt"><SMALL>{DETALLE_RELATORES}</SMALL></td>
	<td class="miniSt">

	    {TASA_RESPUESTA} {SEMAFORO} <BR>
        {RESPONDIDOS}<BR>
		{CHEQUEADOS} {DESCARGA_PARTICIPANTES}
		{INSCRITOS} {DESCARGA_PARTICIPANTES}
	</td>

<td class="miniSt">
	Nota: <strong>{PROMEDIO_NOTAS_VISTA_IMPARTICION}</strong>
	<br><SMALL>{DIMENSIONES}</SMALL>
</td>
	<td class="miniSt">

<a href="?sw=listaEncuestasSatisfaccion&idinscripcion={CODIGOINCRIPCION}&excel=1" target="_blank" class="btn btn-warning btn-sm">Descargar Resultado y Detalle de Respuestas</a>
<br><br>
<a href="?sw=listaEncuestasSatisfaccion&idinscripcion={CODIGOINCRIPCION}&sendemail=1" target="_blank" class="btn btn-warning btn-sm">Enviar Link de Encuesta</a>
<br><br>
<form class="form-horizontal" method="POST" target="_blank" action="?sw=lms_reportes_capacitacion" id="ReporteCapacitacion" name="ReporteCapacitacion">
        <input class="form-control" name="codigo_imparticion_escrito"
        placeholder="Escribe el código de la impartición" type="hidden" value="{CODIGOINCRIPCION}">
        <button type="submit" class="btn btn-success">Ver Reporte Detallado</button>
</form><br><br>
	<!--!<a href="?sw=editImparticion&i={ID_INSCRIPCION_ENCODEADO}" title="Editar Imparticion">Editar</a><br>
	<a href="?sw=VeSesionXImp&i={ID_INSCRIPCION_ENCODEADO}"  >Sesiones</a><br>
	<a href="?sw=VeColaboradoresXImpXsess&i={ID_INSCRIPCION_ENCODEADO}"  >Asistencia_Notas</a><br>
	<a href="?sw=dltImpart&i={ID_INSCRIPCION_ENCODEADO}"  onclick = "if (! confirm('Seguro que deseas eliminar esta Imparticion?')) return false;">Eliminar</a>
	-->
	 </td>
</tr>
