<tr>
    <td class="miniSt">{CODIGOINCRIPCION}</td>
    <td class="miniSt">{ID_PROGRAMA}</td>
    <td class="miniSt">{PROGRAMA}</td>
    <td class="miniSt">{CURSO}</td>

    <td class="miniSt">{EJECUTIVO}</td>
	<td class="miniSt">{MODALIDAD_CURSO}</td>
    <td class="miniSt">{EMPRESA}</td>

	<td class="miniSt">{CIUDAD}</td>
    <td class="miniSt">{DIRECCION}</td>

	<td class="miniSt">{FECHA_INICIO}</td>
	<td class="miniSt">{FECHA_TERMINO}</td>

	<td class="miniSt">{INSCRITOS_NUMERO}</td>
	<td class="miniSt">{RESPONDIDOS_NUM}</td>
	<td class="miniSt">{TASA_RESPUESTA_NUM}</td>

    <td class="miniSt">{PROMEDIO_NOTAS_VISTA_IMPARTICION}</td>
    
    <td class="miniSt">{DIM1}</td>
    <td class="miniSt">{DIM2}</td>
    <td class="miniSt">{DIM3}</td>
    <td class="miniSt">{DIM4}</td>
    <td class="miniSt">{DIM5}</td>
    <td class="miniSt">{DIM6}</td>
    <td class="miniSt">{DIM7}</td>
    <td class="miniSt">{DIM8}</td>

 

</tr>
<tr>
	{RESPUESTASUSUARIO}