<div class="nav-side-menu pt-5">
    {USER_TEMPLATE}
    <div class="menu-list pt-5">
        <ul id="menu-content" class="menu-content ">

            <li data-bs-toggle="collapse" data-bs-target="#volveradmin" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Volver a Admin MC <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="volveradmin">
                <li>
                    <a href="https://www.goptest.cl/bch_masco/admin/?sw=home_landing_admin"> Admin MC</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#usuarios" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Usuarios <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="usuarios">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=usuarios_manuales"> Usuarios Manuales</a>
                </li>
           
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#cursosVirtuales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Asincr&oacute;nicos<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosVirtuales">
                <li>
                    <a href="?sw=listmallas1">Cursos</a>
                </li>
           
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#cursosPresenciales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Sincr&oacute;nicos<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosPresenciales">
                <li>
                    <a href="?sw=listcursos2">Cursos</a>
                </li>
                <li>
                    <a href="?sw=listaInscripciones2">Imparticiones</a>
                </li>
                <li>
                    <a href="?sw=reporte_full_sincronico">Reporte Full Sincr&oacute;nicos</a>
                </li>
            </ul>
            
		
            
			<li data-bs-toggle="collapse" data-bs-target="#foco" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> {Texto_Pilar} <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="foco">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=foco"> {Texto_Pilar}</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#programas" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> {Texto_Programa} <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="programas">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=programas"> {Texto_Programa}</a>
                </li>
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=cuentas"> Cuentas</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#proveedores" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Proveedores <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="proveedores">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=otec"> Proveedores</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#ejecutivos" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Ejecutivos <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="ejecutivos">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=ejecutivos"> Ejecutivos</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#relatores" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Relatores <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="relatores">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=relatores"> Relatores</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#direcciones" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Ubicaciones <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="direcciones">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=direcciones"> Ubicaciones</a>
                </li>
            </ul>


          
            <li data-bs-toggle="collapse" data-bs-target="#finanzas" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Finanzas<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="finanzas">
                <li>
                    <a href="?sw=finanzas_facturas">Facturas</a>
                </li>
                <li>
                    <a href="?sw=finanzas_reembolsos">Reembolsos</a>
                </li>
            </ul>
        </ul>
    </div>
</div>