<div class="nav-side-menu pt-5">
    {USER_TEMPLATE}
    <div class="menu-list pt-5">
        <ul id="menu-content" class="menu-content ">

            <li data-bs-toggle="collapse" data-bs-target="#volveradmin" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Volver a Admin MC <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="volveradmin">
                <li>
                    <a href="https://www.masconectadosbch.cl/admin/?sw=home_landing_admin"> Admin MC</a>
                </li>

            </ul>

            

            <li data-bs-toggle="collapse" data-bs-target="#cursosVirtuales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Asincr&oacute;nicos<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosVirtuales">
                <li>
                    <a href="?sw=listmallas1">Grupo de Cursos</a>
                </li>
                <li>
                    <a href="?sw=listcursos1">Cursos</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#cursosPresenciales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Sincr&oacute;nicos<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosPresenciales">
                <li>
                    <a href="?sw=listcursos2">Cursos</a>
                </li>
                <li>
                    <a href="?sw=listaInscripciones2">Imparticiones</a>
                </li>
                <li>
                    <a href="?sw=reporte_full_sincronico">Reporte Full Sincr&oacute;nicos</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#finanzas" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Finanzas<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="finanzas">
                <li>
                    <a href="?sw=finanzas_facturas">Facturas</a>
                </li>
                <li>
                    <a href="?sw=finanzas_reembolsos">Reembolsos</a>
                </li>
            </ul>

        </ul>
    </div>
</div>