<div class="nav-side-menu">
    {USER_TEMPLATE}
    <div class="menu-list">
        <ul id="menu-content" class="menu-content ">
            <li data-bs-toggle="collapse" data-bs-target="#reportes2020" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Reportes<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="reportes2020">
                <li class="">
                    <a href="?sw=reportes_online"> Reporte Online</a>
                </li>
                <li class="">
                    <a href="?sw=reportes_online_personas_2020"> Online por Usuario</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#usuarios" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Usuarios <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="usuarios">
                <li class="">
                    <a href="?sw=actualizacion_usuarios"> Usuarios</a>
                </li>
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=usuarios_manuales"> Usuarios Manuales</a>
                </li>
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=usuarios_externos"> Usuarios Externos</a>
                </li>

                <li>
                    <a href="?sw=vista_incognita"> Vista Incognita</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#cursosVirtuales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Virtuales<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosVirtuales">
                <li>
                    <a href="?sw=listcursos1">Cursos</a>
                </li>
                <li>
                    <a href="?sw=listaInscripciones1">Imparticiones</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#cursosPresenciales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Presenciales<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosPresenciales">
                <li>
                    <a href="?sw=listcursos2">Cursos</a>
                </li>
                <li>
                    <a href="?sw=listaInscripciones2">Imparticiones</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#cursosAutoInscripcion" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> AutoInscripcion<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="cursosAutoInscripcion">
                <li>
                    <a href="?sw=listcursos3">Cursos</a>
                </li>
                <li>
                    <a href="?sw=listaInscripciones3">Imparticiones</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#foco" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> {Texto_Pilar} <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="foco">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=foco"> {Texto_Pilar}</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#programas" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> {Texto_Programa} <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="programas">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=programas"> {Texto_Programa}</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#proveedores" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Proveedores <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="proveedores">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=otec"> Proveedores</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#ejecutivos" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Ejecutivos <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="ejecutivos">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=ejecutivos"> Ejecutivos</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#relatores" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Relatores <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="relatores">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=relatores"> Relatores</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#direcciones" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Ubicaciones <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="direcciones">
                <li>
                    <a href="?sw=lista_proveedores_otec&tipo=direcciones"> Ubicaciones</a>
                </li>
            </ul>

            <li data-bs-toggle="collapse" data-bs-target="#Becas" class="collapsed active">
                <a href="#"><i class="fa fa-angle-double-right"></i> Becas de Estudio<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Becas">
                <li>
                    <a href="?sw=becas">Becas de Estudio</a>
                </li>
            </ul>
            <li data-bs-toggle="collapse" data-bs-target="#NotificacionesEmail" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Notificaciones Email<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="NotificacionesEmail">
                <li>
                    <a href="?sw=notificaciones_email">Notificaciones</a>
                </li>
                <li>
                    <a href="?sw=notificaciones_log_email_automaticas">Log Emails Automaticos</a>
                </li>
            </ul>

            </li>
        </ul>
    </div>
</div>