<br><br><br><br><br><br><br><br>
<div class="nav-side-menu">
    {USER_TEMPLATE}
    <div class="menu-list">
    	<br><br><br>
	     <ul id="menu-content" class="menu-content ">
						<li data-toggle="collapse" data-target="#reportes2020" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Reportes<span class="arrow"></span></a>
            </li>
             <ul class="sub-menu collapse" id="reportes2020">
              	<li class="">
                    <a href="?sw=reportes_online"> Reporte Online</a>
                </li>       
              	<li class="">
                    <a href="?sw=reportes_online_personas_2020"> Online por Usuario</a>
                </li>
								
            </ul> 
  
        </li>
        </ul>
        </section>