<br><br><br><br><br><br><br><br>
<div class="nav-side-menu">
    {USER_TEMPLATE}
    <div class="menu-list">
    	<br><br><br>
	     <ul id="menu-content" class="menu-content ">
			

	         	<li data-toggle="collapse" data-target="#cursosVirtuales" class="collapsed">
	                <a href="#"><i class="fa fa-angle-double-right"></i> Asincronicos<span class="arrow"></span></a>
						</li>
            <ul class="sub-menu collapse" id="cursosVirtuales">
                <li>
                    <a href="?sw=listcursos1">Cursos</a>
								</li>
                <li>
                    <a href="?sw=listaInscripciones1">Imparticiones</a>
								</li>
						</ul> 
            
         		<li data-toggle="collapse" data-target="#cursosPresenciales" class="collapsed">
                <a href="#"><i class="fa fa-angle-double-right"></i> Sincronicos<span class="arrow"></span></a>
						</li>
            <ul class="sub-menu collapse" id="cursosPresenciales">
                <li>
                    <a href="?sw=listcursos2">Cursos</a>
								</li>
                <li>
                    <a href="?sw=listaInscripciones2">Imparticiones</a>
								</li>
						</ul> 
						
         						           

           

        
        </li>
        </ul>
        </section>