<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<style>
	#loading {
    background: url('img/Spinner-1s-200px.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
</style>    	
    	<!--<div id="loading"></div>-->
{ENTORNO}


</div>
</div>
</section>
</aside>
</div>
{FOOTER_ADMIN}
<!-- page script -->


</body>

</html>