<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{TITTLE}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>{HEAD}</head>
        
    <body class="skin-blue">
        {HEADER}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">                
                {MENU_IZQUIERDO}
            </aside>

            <aside class="right-side">                
                {NAVEGACION}
								<link href="css/datatables/dataTables.bootstrap.css" rel="stylesheet">
              
     <section class="content">
         <div class="row">
           <div class="col-xs-12">
				      <div class="box">
				          <div class="box-header">
				              <h3 class="box-title">Agrupaciones</h3>
			            </div> 
							</div> 			
							<div class="row">
								<div class="col-lg-12"><br></div>
								<div class="col-lg-12">
									<div class="card">
									  <div class="card-header">
									    Reporte por Agrupaciones
									  </div>
									  <div class="card-body">
											<p class="card-text">
												Se pueden crear Agrupaciones de Cursos, y gestionar
												inscripciones a imparticiones de cada grupo de cursos.
											</p>
											<p>
											  <a class="btn btn-link pull-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
											    Crear Nueva Agrupaci&oacute;n
											  </a>
											</p>
												<div class="collapse" id="collapseExample">
												  <div class="card card-body">
												    <form name="agrupacion" id="agrupacion" method="post" action="?sw=listAgrupaciones">
												    	Nombre Agrupaci&oacute;n<br>
												    	<input type="text" name="nombre_agrupacion" id="nombre_agrupacion" class="form form-control" required>
												    	<br>
												    	Selecci&oacute;n de Cursos <br>
												    	
										          <table id="example2" class="table table-bordered table-hover sortable">
										              <thead>
										                  <tr>
										                      <th class="width40"></th>
										                      <th class="width140">Curso</th>
										                      <th class="width140 ">Programa</th>                      
										                  </tr>
										              </thead>
										              <tbody>
										                  {cursos_agrupacion_checkbox}
										              </tbody>
										          </table>				
												    	
												    	
												    	<input type="hidden" name="agrupacion_nueva" value="1">
												    	<br>
												    	<input type="submit" class="btn btn-info" value="Guardar Agrupaci&oacute;n">
												    </form>
												  </div>
												</div>
												
												
												
												<div style="{DISPLAYNONE_LISTADO_IMPARTICIONES_POR_AGRUPACION}">
								          <table id="example4" class="table table-bordered table-hover sortable">
								              <thead>
								                  <tr>
								                      <th class="width40">IdImpartici&oacute;n</th>
								                      <!--<th class="width140">Nombre</th>-->
								                      <th class="width140">Curso</th>                      
								                      <th class="width140">Fecha Inicio</th>                      
								                      <th class="width140">Fecha Termino</th>                      
																			<th class="width60">Usuarios</th> 
																			<th class="width60">Inscripci&oacute;n</th> 
								                  </tr>
								              </thead>
								              <tbody>
								                  {ROW_LISTADO_IMPARTICIONES_POR_AGRUPACION}
								              </tbody>
								          </table>												
												</div>
												
							          <table id="example5" class="table table-bordered table-hover sortable">
							              <thead>
							                  <tr>
							                      <th class="width40">IdAgrupaci&oacute;n</th>
							                      <th class="width140">Agrupaci&oacute;n</th>
							                      <th class="width140">Cursos</th>                      
							                      <th class="width140">Imparticiones</th>                      
																		<th class="width60">Descargar</th> 
							                  </tr>
							              </thead>
							              <tbody>
							                  {ROW_LISTADO_AGRUPACION}
							              </tbody>
							          </table>
						              </tbody>
						          </table>					   
										</div>
									</div>
								</div>
								<br>
							</div>
           </div>
      		</div>
     </section>
     
	</aside>
</div>


     {FOOTER_ADMIN}

  <script type="text/javascript">
		$('#example2').DataTable({
			"oLanguage" : {
				"sProcessing" : "Procesando...",
				"sLengthMenu" : "Mostrar _MENU_ registros",
				"sZeroRecords" : "No se encontraron resultados",
				"sEmptyTable" : "Ning?n dato disponible en esta tabla",
				"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix" : "",
				"sSearch" : "Buscar: ",
				"sUrl" : "",
				"sInfoThousands" : ",",
				"sLoadingRecords" : "Cargando...",
				"oPaginate" : {
					"sFirst" : "Primero",
					"sLast" : "?ltimo",
					"sNext" : "Siguiente",
					"sPrevious" : "Anterior"
				},
				"oAria" : {
					"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
				}
			},
			"bAutoWidth" : false,
			"pageLength" : 5,
			"order" : [],
			"columnDefs" : [{
				"targets" : [0],
				"searchable" : true
			}],
			initComplete : function() {
				this.api().columns('.select-filter').every(function() {
					var column = this;
					var select = $('<select class="selecfiltro"></select>').appendTo($(column.footer()).empty()).on('change', function() {
						var val = $.fn.dataTable.util.escapeRegex($(this).val());
						column.search( val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function(d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
					});
				});
			}
		});
	</script>
	
	<script type="text/javascript">
		$('#example3').DataTable({
			"oLanguage" : {
				"sProcessing" : "Procesando...",
				"sLengthMenu" : "Mostrar _MENU_ registros",
				"sZeroRecords" : "No se encontraron resultados",
				"sEmptyTable" : "Ning?n dato disponible en esta tabla",
				"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix" : "",
				"sSearch" : "Buscar: ",
				"sUrl" : "",
				"sInfoThousands" : ",",
				"sLoadingRecords" : "Cargando...",
				"oPaginate" : {
					"sFirst" : "Primero",
					"sLast" : "?ltimo",
					"sNext" : "Siguiente",
					"sPrevious" : "Anterior"
				},
				"oAria" : {
					"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
				}
			},
			"bAutoWidth" : false,
			"pageLength" : 5,
			"order" : [],
			"columnDefs" : [{
				"targets" : [0],
				"searchable" : true
			}],
			initComplete : function() {
				this.api().columns('.select-filter').every(function() {
					var column = this;
					var select = $('<select class="selecfiltro"></select>').appendTo($(column.footer()).empty()).on('change', function() {
						var val = $.fn.dataTable.util.escapeRegex($(this).val());
						column.search( val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function(d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
					});
				});
			}
		});
	</script>

	<script type="text/javascript">
		$('#example4').DataTable({
			"oLanguage" : {
				"sProcessing" : "Procesando...",
				"sLengthMenu" : "Mostrar _MENU_ registros",
				"sZeroRecords" : "No se encontraron resultados",
				"sEmptyTable" : "Ning?n dato disponible en esta tabla",
				"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix" : "",
				"sSearch" : "Buscar: ",
				"sUrl" : "",
				"sInfoThousands" : ",",
				"sLoadingRecords" : "Cargando...",
				"oPaginate" : {
					"sFirst" : "Primero",
					"sLast" : "?ltimo",
					"sNext" : "Siguiente",
					"sPrevious" : "Anterior"
				},
				"oAria" : {
					"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
				}
			},
			"bAutoWidth" : false,
			"pageLength" : 5,
			"order" : [],
			"columnDefs" : [{
				"targets" : [0],
				"searchable" : true
			}],
			initComplete : function() {
				this.api().columns('.select-filter').every(function() {
					var column = this;
					var select = $('<select class="selecfiltro"></select>').appendTo($(column.footer()).empty()).on('change', function() {
						var val = $.fn.dataTable.util.escapeRegex($(this).val());
						column.search( val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function(d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
					});
				});
			}
		});
	</script>
	
	<script type="text/javascript">
		$('#example5').DataTable({
			"oLanguage" : {
				"sProcessing" : "Procesando...",
				"sLengthMenu" : "Mostrar _MENU_ registros",
				"sZeroRecords" : "No se encontraron resultados",
				"sEmptyTable" : "Ning?n dato disponible en esta tabla",
				"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix" : "",
				"sSearch" : "Buscar: ",
				"sUrl" : "",
				"sInfoThousands" : ",",
				"sLoadingRecords" : "Cargando...",
				"oPaginate" : {
					"sFirst" : "Primero",
					"sLast" : "?ltimo",
					"sNext" : "Siguiente",
					"sPrevious" : "Anterior"
				},
				"oAria" : {
					"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
				}
			},
			"bAutoWidth" : false,
			"pageLength" : 5,
			"order" : [],
			"columnDefs" : [{
				"targets" : [0],
				"searchable" : true
			}],
			initComplete : function() {
				this.api().columns('.select-filter').every(function() {
					var column = this;
					var select = $('<select class="selecfiltro"></select>').appendTo($(column.footer()).empty()).on('change', function() {
						var val = $.fn.dataTable.util.escapeRegex($(this).val());
						column.search( val ? '^' + val + '$' : '', true, false).draw();
					});
					column.data().unique().sort().each(function(d, j) {
						select.append('<option value="' + d + '">' + d + '</option>')
					});
				});
			}
		});
	</script>
    </body>
</html>