<br>
<!--<table width="60%" border="1">-->
<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Formulario</h3>
	</div>
	<form name="Form" method="post" action="?sw=SaveMantenedorCampos"  enctype="multipart/form-data" >
		<input type="hidden" name="tipo" value="{VALUE_TIPO}">
		<input type="hidden" name="tipo_objeto" value="{VALUE_TIPO_OBJETO}">

		{CAMPOS_DINAMICOS}
		<!--<tr>
		<td colspan="2"><input type="submit" value="Guardar Datos" /></td>
		</tr>-->
		<button type="submit" class="btn btn-primary">
			Aceptar
		</button>
	</form>
	<!--</table>-->

</div>