<!--<tr>
	<td>{NOMBRE_A_MOSTRAR}</td>
	<td><input type="text" name="{NAME}" id="{NAME}" {REQUIRED} class="form-control"></td>
</tr>
-->

<div class="panel-body">
                                                            <div class="row">

                                                                <p>
                                                                    &nbsp;&nbsp;&nbsp;&nbsp;{NOMBRE_A_MOSTRAR}
                                                                </p>

                                                                <div class="form-group">
                                                                    <label for="foto" class="col-sm-2 control-label"></label>
                                                                    <div class="col-sm-7">
                                                                        <input type="time" name="{NAME}" id="{NAME}" {REQUIRED} class="form-control">

                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>