<div id="capa"><center><img src="img/loading.gif" width="100"></center></div>


 <br>
		  
		  
		  <div class="panel-heading">
	<span class="panel-icon">
    	<i class="fa fa-star"></i>&nbsp;&nbsp;</span> <span class="panel-title"> Reporte de Avance Detalle Evaluado - Jefatura</span>
</div>

<div class="table-responsive">
<table class="table admin-form theme-warning tc-checkbox-1 fs13">
                  <thead>
                 
                    <tr class="bg-light">
                      <th rowspan="2" class="width">&nbsp;</th>
                      <th rowspan="2" class="width">RUT<br />Evaluado</th>
                      <th rowspan="2" class="width">Foto<br />Evaluado</th>
                      <th rowspan="2" class="width">Nombre<br />Evaluado</th>
                      
                      <th rowspan="2" class="width">RUT<br />Evaluador</th>
                      <th rowspan="2" class="width">Foto<br />Evaluador</th>
                      <th rowspan="2" class="width">Nombre<br />Evaluador</th>
                      
                      <th rowspan="2" class="width">RUT<br />Validador</th>
                      <th rowspan="2" class="width">Foto<br />Validador</th>
                      <th rowspan="2" class="width">Nombre<br />Validador</th>
                      
                      
                      <th rowspan="2" class="width">Cambio<br />Clave</th>
                      
                      <th colspan="4" class="width">Fijación de Objetivos</th>
                      <th  class="width">Evaluación Intermedia</th>
                      <th colspan="2" class="width">Evaluación Final</th>
                      </tr>
                      
                      <tr class="bg-light">
                      
                      <th class="width">Proposicion<br />Objetivos</th>
                      <th class="width">Fijación<br />Objetivos</th>                      
                      <th class="width">Validación<br />Objetivos</th>                                            
                      <th class="width">Finalizacion<br />Objetivos</th>                                            
                      <th class="width">Evaluación<br />Intermedia</th>                                            
					 <th class="width">Evaluación<br />Final</th>                                            
                      <th class="width">Validación<br />Ev. Final</th>           
                                                                                     
                      
                      
   
                    </tr>
                  </thead>
                  <tbody>
                    
                    
                   
                    
           