
<table border="1" >
                  <thead>
                 
                 
                    <tr class="bg-light">
                      <th class="width">&nbsp;</th>
                      <th class="width">RUT</th>
                      <th class="width">Nombre</th>
                      <th class="width">Cargo</th>

                      <th class="width">RUT Evaluador</th>
                      <th class="width">Nombre Evaluador</th>
                      <th class="width">Cargo Evaluador</th>
                      
                      <th class="width">RUT Validador</th>
                      <th class="width">Nombre Validador</th>
                      <th class="width">Cargo Validador</th>                      

                      <th class="width">Cambio Clave</th>
                      <th class="width">Proposicion Objetivos</th>
                      <th class="width">Fijacion Objetivos</th>                      
                      <th class="width">Finalizacion Objetivos</th>                      
                      <th class="width">Validacion Objetivos</th>                                            
                      <th class="width">Evaluacion Intermedia</th>                                            
					 <th class="width">Evaluacion Final</th>                                            
                      <th class="width">Validacion Ev. Final</th>             
                                                                                     
                      
                      
   
                    </tr>
                  <tbody>
                    
                   
                    
           