<tr>
                    
					
					<td class="miniSt" >{N}</td>
					<td class="miniSt" >{RUT}</td>
					<td class=" width50">
						<img class="img-responsive mw30 ib mr10 img-circle" title="user" src="../front/{IMAGEN_PERSONA}"> </td>
                      <td class="miniSt">
                       <strong>{NOMBRE}</strong> <br />{CARGO}                   </td>
                
                     
                      
					<td class="miniSt" >{RUT_EVALUADOR}</td>
                      <td class=" width50">
						<img class="img-responsive mw30 ib mr10 img-circle" title="user" src="../front/{IMAGEN_PERSONA_EVALUADOR}"> </td>
                      <td class="miniSt">
                       <strong>{NOMBRE_EVALUADOR}</strong> <br />{CARGO_EVALUADOR}                   </td>
                
                      
                        
					<td class="miniSt" >{RUT_VALIDADOR}</td>
                      <td class=" width50">
						<img class="img-responsive mw30 ib mr10 img-circle" title="user" src="../front/{IMAGEN_PERSONA_VALIDADOR}"> </td>
                      <td class="miniSt">
                       <strong>{NOMBRE_VALIDADOR}</strong> <br />{CARGO_VALIDADOR}                   </td>
                
                    
                         
                      
                      
                      
                      
                   
                      
                       <td class="miniSt">
                       {TOTAL_CLAVES_CAMBIADAS}
                      </td> 
                      
                      <td class="miniSt">
                       {TOTAL_PROP_OBJ}
                      </td>                  
                      
                      
                           <td class="miniSt">
                       {TOTAL_FIJ_OBJ}
                      </td>                  
                      
                          <td class="miniSt">
                       {TOTAL_VAL_OBJ}
                      </td>  
                      
                      <td class="miniSt">
                       {TOTAL_FIN_OBJ}
                      </td>  
                      
                      <td class="miniSt">{TOTAL_REV_IN}</td>                   
                      <td class="miniSt">&nbsp;</td>                   
                      <td class="miniSt">&nbsp;</td>                   
                      


                     <!-- <td class="">
                        <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {PORCENTAJE_AVANCE}%"><span class="sr-only">{PORCENTAJE_AVANCE}%</span></div></div>
                      {PORCENTAJE_AVANCE}%</td>
                      <td class="">
                        <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {PORCENTAJE_APROBACION}%"><span class="sr-only">{PORCENTAJE_APROBACION}%</span></div></div>
                      {PORCENTAJE_APROBACION}%</td>
                      <td class="">
                        <div class="progress"><div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {PROMEDIO_NOTAS}%"><span class="sr-only">{PROMEDIO_NOTAS}%</span></div></div>
                      {PROMEDIO_NOTAS}%</td>
-->
                    </tr>