<tr>
                    
					
					<td class="miniSt" >{N}</td>
					<td class="miniSt" >{RUT}</td>
		
                       <td><strong>{NOMBRE}</strong></td>
                       <td>{CARGO}                   </td>
                
                     
                      
					<td class="miniSt" >{RUT_EVALUADOR}</td>
                      
                      
                      <td class="miniSt">
                       <strong>{NOMBRE_EVALUADOR}</strong> </td>
                       <td>{CARGO_EVALUADOR}                   </td>
                
                      
                        
					<td class="miniSt" >{RUT_VALIDADOR}</td>
                     
                     
                      <td class="miniSt">
                       <strong>{NOMBRE_VALIDADOR}</strong></td>
                       <td>{CARGO_VALIDADOR}                   </td>
                
                    
                         
                      
                      
                      
                      
                   
                      
                       <td class="miniSt">
                       {TOTAL_CLAVES_CAMBIADAS}
                      </td> 
                      
                      <td class="miniSt">
                       {TOTAL_PROP_OBJ}
                      </td>                  
                      
                      
                           <td class="miniSt">
                       {TOTAL_FIJ_OBJ}
                      </td>                  
                      
                          <td class="miniSt">
                       {TOTAL_VAL_OBJ}
                      </td> 
                      
                       <td class="miniSt">
                       {TOTAL_FIN_OBJ}
                      </td>  
                      
                      <td class="miniSt">{TOTAL_REV_IN}</td>                   
                      <td class="miniSt">&nbsp;</td>                   
                      <td class="miniSt">&nbsp;</td>                   
                      


                    
                    
                    </tr>