
                                                                <div class="col-md-12">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" name="{CAMPO_POR_CAMPO}">
                                                                            {VALOR_POR_CAMPO} ({TOTAL_POR_VALOR})</label>
                                                                    </div>
                                                                </div>
                                                               
                                                              <!-- <tr>
                                                               	<td><input type="checkbox" name="{CAMPO_POR_CAMPO}"></td>
                                                               	<td>{VALOR_POR_CAMPO} </td>
                                                               	<td>{TOTAL_POR_VALOR}</td>
                                                              </tr>-->
                                                                