<tr>
	<td class=""><span class="lms_vista_curso"><span class="label label-sm label-info lms_text_white_sm">Curso</span>{IMG_CURSO} {NOMBRE_CURSO}</span></td>
	<td class=""><small>{TIPO_CURSO}</small></td>
	<td class=""><small>{CODIGO_CURSO}</small></td>
	<td class=""><a href="" class="btn btn-info btn-xs">Eliminar Curso</a></td>
</tr>

<tr>
<td colspan="6" class="pull-right" >
		
		
		<a href="" class="btn btn-info btn-xs">Crear Objeto</a>
		
		<!--// lista debe ser de los tipos de objetos--->
		
		</td>
</tr>

{ROW_LISTADO_OBJETOS}
 