<script>
function MuestraClasificacionesPorEmpresa_{CODIGO_MALLA}(){


$.ajax({

url : '?sw=ListadoClasificacionesComboBox',
type : 'post',
beforeSend : function() {
/*$("#back").show();
$("#loader").show();*/
},
success : function(response) {
/*$("#back").hide();
$("#loader").hide();*/
$("#clasif_{CODIGO_MALLA}").html(response);
}
});
}

</script>



<tr >
	<td class="tr_lms_vista_malla"> 
	<div class="widget-user-header tr_lms_vista_malla">
		<!--<div class="widget-user-image">
			<img class="img-circle" style="width: 65px;height: 65px;float: left;" src="../front/{IMAGENMALLA}">
		</div>-->
		<span class="lms_vista_malla"><span class="label label-sm label-malla lms_text_white_sm1">Malla</span> {NOMBRE_MALLA}</span>
	</div></td>
	<td class="tr_lms_vista_malla"><small>{DATOS_PARAMETROS}</small></td>
	<!--<td class="tr_lms_vista_malla"><small>{TIPO_MALLA}</small></td>-->
	<td class="tr_lms_vista_malla"><small>{CODIGO_MALLA}</small></td>

	<td class="tr_lms_vista_malla"><!--<a href="?sw=accioncmalla&i={CODIGO_MALLA_ENCODEADO}"><span class="glyphicon glyphicon-edit"></span> Editar</a><!--<a href="?sw=relmallacurso&i={CODIGO_MALLA_ENCODEADO}"><span class="fa fa-fw fa-cogs"></a> </span>--> </td>
</tr>
<!--<tr>

	<td colspan="6" class="pull-right" >
		
		<a href="#" class="btn btn-info btn-xs" onclick="MuestraClasificacionesPorEmpresa_{CODIGO_MALLA}();"><i class="icon-clock icons"></i> Asignar Clasif</a>
		<br>
		<span id="clasif_{CODIGO_MALLA}"></span>
		
		
		</td>
</tr>-->
{ROW_LISTADO_CLASIFICACION_POR_MALLA}