<script>
function FinalizaObjeto{RUT}_{ID_OBJETO}(){
var campos = {
"id_objeto" : "{ID_OBJETO}",
"rut" : {RUT}
};
$.ajax({
data : campos,
url : '?sw=FinalizaObjetoDesdeAdmin',
type : 'post',
beforeSend : function() {
/*$("#back").show();
$("#loader").show();*/
},
success : function(response) {
/*$("#back").hide();
$("#loader").hide();*/
$("#resultado_{RUT}_{ID_OBJETO}").html(response);
}
});
}
</script>
<tr>
    <td><span class="lms_vista_objeto"> <span class="label label-sm label-warning lms_text_white_sm">{ORDEN_OBJETO} {TIPO_OBJETO_txt}</span> {NOMBRE_OBJETO}</span></td>
    <td class="">{ACCION4}
        {DATOS_PARAMETROS_OBJETO}</td>
    <td class="">{CODIGO_OBJETO}</td>
    <td><span id="resultado_{RUT}_{ID_OBJETO}">{ACCION}{ACCION2}

        {ACCION3}
        {ACCION5}</span>
    <button type="button" class="btn btn-link btn-sm"
    data-toggle="modal"
    data-id_malla="{ID_MALLA}"
    data-target="#{DATA_TARGET_EDITA_MODULO}">
        Editar {TIPO_OBJETO_txt}
    </button></td>
</tr>
<!-- Modal eliminar preguntas -->
<div class="modal fade" id="EliminarPreg_{CODIGO_OBJETO}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <STRONG>Eliminar Preguntas ya Realizadas {CODIGO_CURSO} / Programa {CODIGO_PROGRAMA}</STRONG>
                <hr>
                <form  action="?sw=vista_mallas_clasificaciones_cursos_objetos_saveObj_eliminapregunta" method="post" name="EliminaPreg_{ID_OBJETO_SUGERIDO}_{CODIGO_CURSO}_{ID_CLASIFICACION}_{ID_MALLA}" enctype="multipart/form-data">
                    <input type="hidden" name="edit" value="1">
                    <input type="hidden" name="id_objeto" value="{ID_OBJETO}">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-xs-12 col-form-label"> Seleccione Pregunta a Eliminar </label>
                        <div class="col-xs-12">
                            <select class="form-control" id="id_pregunta" name="id_pregunta" required>
                                <option value=""></option>
                                {OPTION_PREGUNTAS_DE_OBJETO}
                            </select>
                        </div>
                        <hr>
                        <input type="hidden" id="id_curso" name="id_curso" value="{CODIGO_CURSO}">
                        <input type="hidden" id="id_programa" name="id_programa" value="{CODIGO_PROGRAMA}">
                        <input type="hidden" id="id_objeto" name="id_objeto" value="{CODIGO_OBJETO}">
                        <input type="hidden" id="id_evaluacion" name="id_evaluacion" value="{ID_EVALUACION_OBJETO}">
                        <CENTER>
                            <button type="submit"  class="btn btn-info">
                                Eliminar Pregunta
                            </button>
                        </CENTER>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar Ventana
                </button>
            </div>
        </div>
    </div>

    </div>
    </div>
    <!-- Modal oBJETO -->
    <div class="modal fade" id="Edita_{CODIGO_OBJETO}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <STRONG>Edici&oacute;n M&oacute;dulo de Curso {CODIGO_CURSO} / Programa {CODIGO_PROGRAMA}</STRONG>
                    <hr>
                    <form  action="?sw=vista_mallas_clasificaciones_cursos_objetos_saveObj" method="post" name="formObjeto_{ID_OBJETO_SUGERIDO}_{CODIGO_CURSO}_{ID_CLASIFICACION}_{ID_MALLA}" enctype="multipart/form-data">
                        <input type="hidden" name="edit" value="1">
                        <input type="hidden" name="id_objeto" value="{ID_OBJETO}">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Nombre M&oacute;dulo</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{NOMBRE_OBJETO}"
                                id="objeto_nombre" name="objeto_nombre" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Descripci&oacute;n Instrucciones (*opcional)</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{DESCRIPCION_OBJETO}"
                                id="objeto_descripcion" name="objeto_descripcion" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Tipo </label>
                            <div class="col-xs-4">
                                <select class="form-control" id="objeto_tipo" name="objeto_tipo" required>
                                    <option value=""></option>
                                    <option value="3-25" {SELECTED_3-25}>PDF</option>
                                    <option value="3-7" {SELECTED_3-7}>Video MP4</option>
                                </select>
                            </div>
                           <!-- <label for="example-text-input" class="col-xs-3 col-form-label"> Orden M&oacute;dulo
                                <br>
                                (no repetir)</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="number" value="{OBJETO_ORDEN}" id="objeto_orden" name="objeto_orden">
                            </div>
                            -->
                        </div>
                        <hr>
                        <span class="label label-sm label-info lms_text_white_sm1">* Subir Videos MP4 en resolucion 480</span>
                        <br>
                        <input class="form-control" type="hidden" value="{OBJETO_URL}"
                        id="objeto_url" name="objeto_url" >
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Subir Archivo</label>
                            <label for="example-text-input" class="col-xs-9 col-form-label">
                                <input type="file" name="archivo" id="archivo" class="form-control">
                            </label>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Duraci&oacute;n (horas:minutos)</label>
                            <div class="col-xs-3">
                                <input class="form-control" type="time" value="{DURACION_VIDEO_EDIT}" id="objeto_duracion" name="objeto_duracion" required>
                            </div>
                        </div>
                        <hr>
                </div>
                <input type="hidden" id="id_curso" name="id_curso" value="{CODIGO_CURSO}">
                <input type="hidden" id="id_programa" name="id_programa" value="{CODIGO_PROGRAMA}">
                <input type="hidden" id="id_objeto_editar" name="id_objeto_editar" value="{CODIGO_OBJETO}">
                <input type="hidden" id="id_evaluacion" name="id_evaluacion" value="{ID_OBJETO_EVALUACION}">
                <CENTER>

                    <button type="submit"  class="btn btn-info">
                        Guardar M&oacute;dulo
                    </button>
                </CENTER>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar Ventana
                </button>
            </div>
        </div>
    </div>
    <!-- Modal oBJETO2 -->
    <div class="modal fade" id="Edita_Eval_{CODIGO_OBJETO}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <STRONG>Edici&oacute;n de Evaluaci&oacute;n  Curso {CODIGO_CURSO} / Programa {CODIGO_PROGRAMA}</STRONG>

                    <hr>
                    <form  action="?sw=vista_mallas_clasificaciones_cursos_objetos_saveObj" method="post" name="formObjetoEvaluacion_{ID_OBJETO_SUGERIDO}_{CODIGO_CURSO}_{ID_CLASIFICACION}_{ID_MALLA}" enctype="multipart/form-data">
                        <input type="hidden" name="edit" value="1">
                        <input type="hidden" name="id_objeto" value="{ID_OBJETO}">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Nombre M&oacute;dulo</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{NOMBRE_OBJETO}"
                                id="objeto_nombre_evaluacion" name="objeto_nombre_evaluacion" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-3 col-form-label"> Descripci&oacute;n Instrucciones (*opcional)</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{DESCRIPCION_OBJETO}"
                                id="objeto_descripcion" name="objeto_descripcion" >
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Tipo </label>
                            <div class="col-xs-2">
                                <select class="" id="objeto_tipo_evaluacion" name="objeto_tipo_evaluacion" required>
                                    <option value="5-">Evaluaci&oacute;n</option>
                                </select>
                            </div>
                           <!-- <label for="example-text-input" class="col-xs-2 col-form-label"> Orden M&oacute;dulo
                                <br>
                                (no repetir)</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="number" value="{OBJETO_ORDEN}" id="objeto_orden" name="objeto_orden">
                            </div>
                            -->
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Numero Intentos</label>
                            <div class="col-xs-2">
                                <select class="form-control" id="objeto_intentos" name="objeto_intentos"required>
                                    <option value="1" {VALUE_NUMERO_INTENTO_1}>1</option>
                                    <option value="2" {VALUE_NUMERO_INTENTO_2}>2</option>
                                    <option value="3" {VALUE_NUMERO_INTENTO_3}>3</option>
                                    <option value="4" {VALUE_NUMERO_INTENTO_4}>4</option>
                                    <option value="5" {VALUE_NUMERO_INTENTO_5}>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label"> N&uacute;mero de Preguntas
                                <br>
                                a realizar</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="number" value="{PREGUNTAS_ALEATORIAS}" id="objeto_numpreguntas" name="objeto_numpreguntas">
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Tiempo total
                                <br>
                                (Horas:Minutos)</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="time" value="{TIEMPO_TOTAL}" id="objeto_duracion_evaluacion_total" name="objeto_duracion_evaluacion_total" required>
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Nota Aprobaci&oacute;n
                                <br>
                                (0 a 100)</label>
                            <div class="col-xs-2">
                                <input class="form-control" type="number" value="{NOTA_APROBACION}" id="objeto_aprobacion" name="objeto_aprobacion">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Distribuci&oacute;n de Opciones</label>
                            <div class="col-xs-2">
                                <select class="form-control" id="objeto_distribucion_opciones" name="objeto_distribucion_opciones"required>
                                    <option value="1">Normal</option>
                                    <option value="2">Aleatoria</option>
                                    <option value="3">Aleatoria con ultima fija</option>
                                </select>
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Recalcular Nota</label>
                            <div class="col-xs-2">
                                <select class="form-control" id="objeto_recalcular_notas" name="objeto_recalcular_notas"required>
                                    <option value="1">SI</option>
                                    <option value="2">NO</option>
                                </select>
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Ver Nota</label>
                            <div class="col-xs-2">
                                <select class="form-control" id="objeto_permitir_ver_nota" name="objeto_permitir_ver_nota"required>
 									<option value="1">SI Sin Feedback</option>
                                    <option value="0">SI</option>
                                    <option value="2">NO</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Fecha Activaci&oacute;n</label>
                            <div class="col-xs-4">
                                <input id="fecha_inicio" name="fecha_inicio" class="form-control"  type="date" value="{FECHA_INICIO}">
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Hora Activaci&oacute;n</label>
                            <div class="col-xs-4">
                                <input id="hora_inicio" name="hora_inicio" class="form-control"  type="time"  value="{HORA_INICIO}">
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Fecha Finalizaci&oacute;n</label>
                            <div class="col-xs-4">
                                <input id="fecha_termino" name="fecha_termino" class="form-control"  type="date"  value="{FECHA_TERMINO}">
                            </div>
                            <label for="example-text-input" class="col-xs-2 col-form-label"> Hora Finalizaci&oacute;n</label>
                            <div class="col-xs-4">
                                <input id="hora_termino" name="hora_termino" class="form-control"  type="time"  value="{HORA_TERMINO}">
                            </div>
                        </div>
                        <div class="form-group row">
                        <label for="example-text-input" class="col-xs-3 col-form-label"> Mensaje Final Correcto</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{OBJETO_TITULO_CIERRE}"
                                id="titulo_cierre" name="titulo_cierre" required>
                            </div>
                        </div>
                        <div class="form-group row">
                        <label for="example-text-input" class="col-xs-3 col-form-label"> Mensaje Final Incorrecto</label>
                            <div class="col-xs-9">
                                <input class="form-control" type="text" value="{OBJETO_TEXTO_CIERRE}"
                                id="texto_cierre" name="texto_cierre" >
                            </div>
                        </div>
                </div>
                <input type="hidden" id="id_curso" name="id_curso" value="{CODIGO_CURSO}">
                <input type="hidden" id="id_programa" name="id_programa" value="{CODIGO_PROGRAMA}">
                <input type="hidden" id="id_objeto_editar" name="id_objeto_editar" value="{CODIGO_OBJETO}">
                <input type="hidden" id="id_evaluacion" name="id_evaluacion" value="{ID_OBJETO_EVALUACION}">
                <CENTER>

                    <button type="submit"  class="btn btn-info">
                        Guardar M&oacute;dulo
                    </button>
                </CENTER>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cerrar Ventana
                </button>
            </div>
        </div>
    </div>
