

		  
		  
		
<table border="1">
                  <thead>
                 
                    <tr class="bg-light">
                      <th class="width">&nbsp;</th>
                      <th class="width">RUT</th>
                      <th class="width">Nombre</th>
                      <th class="width">Cargo</th>
                      <th class="width">Area</th>
                      
                      <th class="width">RUT Evaluador</th>
                      <th class="width">Nombre Evaluador</th>
                      <th class="width">Cargo Evaluador</th>
                      
                      <th class="width">RUT Validador</th>
                      <th class="width">Nombre Validador</th>
                      <th class="width">Cargo Validador</th>
                      
                      
                      
                      
                      
                      <th class="width">Ponderacion</th>
                      <th class="width">Dimension</th>
                      <th class="width">Objetivo</th>	
                      <th class="width">Metrica</th>	
                      <th class="width">Mes</th>	
                      <th class="width">Anho</th>	

                    
                    
                      </tr>
                      
                     
                  </thead>
                  <tbody>
                    
                    
                   
                    
           