

 <br>
		  
		  
		  <div class="panel-heading">
	<span class="panel-icon">
    	<i class="fa fa-star"></i>&nbsp;&nbsp;</span> <span class="panel-title"> Sábana de Objetivos</span>
</div>

<div class="table-responsive">
<table class="table admin-form theme-warning tc-checkbox-1 fs13">
                  <thead>
                 
                    <tr class="bg-light">
                      <th class="width">&nbsp;</th>
                      <th class="width">RUT</th>
                      <th class="width">Foto</th>
                      <th class="width">Nombre</th>
                      <th class="width">Area</th>
                      <th class="width">Ponderaci&oacute;n</th>
                      <th class="width">Dimensi&oacute;n</th>
                      <th class="width">Descriptor<br />Objetivos</th>	
                      <th class="width">Metrica</th>	
                      <th class="width">Mes</th>	
                      <th class="width">Año</th>	

                    
                    
                      </tr>
                      
                     
                  </thead>
                  <tbody>
                    
                    
                   
                    
           