<tr>
                    
					
					<td class="miniSt" >{N}</td>
					<td class="miniSt" >{RUT}</td>
					<td class=" width50">
						<img class="img-responsive mw30 ib mr10 img-circle" title="user" src="../front/{IMAGEN_PERSONA}"> </td>
                      <td class="miniSt">
                       <strong>{NOMBRE}</strong> <br />{CARGO}                   </td>
                
                       <td class="miniSt">
                       {AREA}
                      </td>
                      
                      <td class="miniSt">
                       {PONDERACION}
                      </td>
                      
                      <td class="miniSt">
                       {DIMENSION}
                      </td>
                      
                      <td class="miniSt">
                       {OBJETIVO_DESCR}
                      </td>
                      
                      <td class="miniSt">
                       {METRICA}
                      </td>
                      
                      <td class="miniSt">
                       {MES}
                      </td>
                      
                      <td class="miniSt">
                       {AGNO}
                      </td>
                      
                    </tr>