<tr>
                    
					
					<td class="miniSt" >{N}</td>
					<td class="miniSt" >{RUT}</td>
					
                      <td class="miniSt">
                       <strong>{NOMBRE}</strong></td>
                       <td>{CARGO}                   </td>
                
                       <td class="miniSt">
                       {AREA}
                      </td>
                      
                      
                      
                      
                      	<td class="miniSt" >{RUT_EVALUADOR}</td>
					
                      <td class="miniSt">
                       <strong>{NOMBRE_EVALUADOR}</strong> 
                       </td>
                       <td>{CARGO_EVALUADOR}                   </td>
                
                    
                      
                      
                      
                      
                      
                      	<td class="miniSt" >{RUT_VALIDADOR}</td>
					
                      <td class="miniSt">
                       <strong>{NOMBRE_VALIDADOR}</strong> </td>
                       <td>{CARGO_VALIDADOR}                   </td>
                
                     
                      
                      
                      
                      
                      
                      <td class="miniSt">
                       {PONDERACION}
                      </td>
                      
                      <td class="miniSt">
                       {DIMENSION}
                      </td>
                      
                      <td class="miniSt">
                       {OBJETIVO_DESCR}
                      </td>
                      
                      <td class="miniSt">
                       {METRICA}
                      </td>
                      
                      <td class="miniSt">
                       {MES}
                      </td>
                      
                      <td class="miniSt">
                       {AGNO}
                      </td>
                      
                    </tr>