
								
                                <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
                                            <tr>
  <th class="width40 bg_gray">COD</th> 
                                                <th class="width140 bg_gray">NOMBRE CURSO</th>
                                                <th class="width140 bg_gray">OBJETIVO CURSO</th>
                                                <th class="width80 bg_gray">MODALIDAD</th>
                                                <th class="width60 bg_gray">TIPO</th>
                                                <th class="width100 bg_gray">CLASIFICACION</th>
                                                <th class="width60 bg_gray">SENCE</th>
												<th class="width60 bg_gray">PAR MAX</th>												<th class="width80 bg_gray">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {ROW_LISTADO}
                                        </tbody>
                                        <tfoot>
                                          
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            
                           