<tr>
	<td class="miniSt">{CODIGO_CURSO}</td>
    <td class="miniSt"><strong>{NOMBRE}</strong></td>
	<td class="miniSt">{MODALIDAD}</td>
	<td class="miniSt">{FOCO}</td>
	<td class="miniSt">{PROGRAMAS_ASOCIADOS}</td>
	<td class="miniSt">{NUM_IMPARTICIONES}</td>	
	<td>
				<a href="?sw=accioncurso2&i={CODIGO_ENCODEADO}"  title="Ver y Modificar"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
				<a href="?sw=dltc&i={CODIGO_ENCODEADO}"   title="Borrar Curso"><i class="fa fa-trash-o"></i></a>&nbsp;&nbsp;
				<a href="?sw=Duplicarcurso&i={CODIGO_ENCODEADO}"   data-placement="left" title="Duplicar Curso"><i class="fa fa-files-o" aria-hidden="true"></i></a>&nbsp;&nbsp;
				<a href="?sw=listaInscripciones2&i={CODIGO_ENCODEADO}"  data-placement="left" title="Ver Imparticiones"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;
				<a href="?sw=MuestraBloqueCursoSeleccionadoDesdeCurso&i={CODIGO_ENCODEADO}&idpbbdd={PROGRAMA_BBDD_ENCODEADO}"  data-placement="left" title="Crear Imparticion"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
	</td>
</tr>                           
