<tr>
	<td class="miniSt">{CODIGO_CURSO}</td>
    <td class="miniSt"><strong>{NOMBRE}</strong></td>
	<td class="miniSt">{FECHAI} {FECHAT}</td>
	<td class="miniSt">{EJECUTIVO}</td>
	<td class="miniSt">{PARTICIPANTE}</td>
	<td>
	<a href="?sw=accioncurso2&i={CODIGO_ENCODEADO}" data-toggle="tooltip" data-placement="left" title="Modifica los datos"><i class="fa fa-pencil"></i></a>&nbsp;
	<a href="?sw=dltc&i={CODIGO_ENCODEADO}"  data-toggle="tooltip" data-placement="left" title="Elimina el registro"><i class="fa fa-trash-o"></i></a>
	<a href="?sw=Duplicarcurso&i={CODIGO_ENCODEADO}"  data-toggle="tooltip" data-placement="left" title="Duplicar Curso">Dulicar Curso</a>
	</td>
</tr>
                                           