<div class="box-body table-responsive">
	<table id="example2" class="table table-bordered table-hover sortable">
		<thead>
			<tr>
				<th class="">ID Curso</th>
				<th class="">Nombre</th>
				<th class="">Descripcion</th>
				<th class="">Modalidad</th>

				<th class="">Numero Imparticiones</th>
				<th class="">ID Foco</th>
				<th class="">Foco</th>
				<th class="">ID Programa</th>
				<th class="">Programa</th>
			</tr>
		</thead>
		<tbody>
			{ROW_LISTADO_CURSOS_EXCEL}
		</tbody>
		<tfoot></tfoot>
	</table>
</div><!-- /.box-body -->

