<tr>
	<td class="miniSt">{CODIGO_CURSO}</td>
	<td class="miniSt"><strong>{NOMBRE}</strong></td>
	<!--<td class="miniSt">{MODALIDAD}</td>-->
	<td class="miniSt">{FOCO}</td>
	<td class="miniSt">{PROGRAMA}</td>
	<td class="miniSt">
		{VER_IMPARTICIONES}
		<strong>{NUM_IMPARTICIONES}</strong>
	</td>
	<td class="miniSt">{INSCRITOS} 
		<a href='?sw=DescargaPresencialImparticion&idc={CODIGO_ENCODEADO}' title='Descargar Participantes a Excel'><i class="fas fa-download"></i></a> 
		<!--{PREINSCRITOS}{POSTULANTES}-->
		{ASISTENTES}</td>
	<td class="miniSt">
<a href="?sw=MuestraBloqueCursoSeleccionadoDesdeCurso&i={CODIGO_ENCODEADO}&idpbbdd={PROGRAMA_BBDD_ENCODEADO}"  data-placement="left" title="Crear Imparticion">Crear_Imparticion</a><br>
<a href="?sw=accioncurso3&i={CODIGO_ENCODEADO}"  title="Ver y Modificar">Editar</a><br>
<a href="?sw=Duplicarcurso&i={CODIGO_ENCODEADO}"  onclick = "if (! confirm('Estas Seguro de Duplicar el Curso?')) return false;"  title="Duplicar Curso"   data-placement="left" title="Duplicar Curso">Duplicar</a><br>
<a href="?sw=dltc&i={CODIGO_ENCODEADO}" onclick = "if (! confirm('Estas Seguro de Eliminar el Curso?')) return false;"  title="Borrar Curso">Eliminar</a></td>
</tr>