<table border="1">
<tr>
	<td>CODIGO SENCE</td>
	<td>NOMBRE CURSO</td>
	<td>NUM HH CURSO</td>
	<td>OTEC</td>
	<td>DIRECCION OTEC</td>
	<td>FONO OTEC</td>
	<td>FECHA INICIO</td>
	<td>FECHA TERMINO</td>
	<td>REGION</td>
	<td>CBC</td>
	<td>VALOR PARTICIPANTE</td>
	<td>LUGAR REALIZACION</td>
	<td>TIPO CONTRATO</td>
	<td>DNC</td>
	<td>COMENTARIO</td>
	<td>HORARIOS</td>
	<td>RUT SIN DIGITO</td>
	<td>DV</td>
	<td>NOMBRE</td>
	<td>PATERNO</td>
	<td>MATERNO</td>
	<td>FEC_NAC</td>
	<td>GENERO</td>
	<td>COMUNA</td>
	<td>CODIGO ESCOLARIDAD</td>
	<td>CODIGO NIVEL</td>
	<td>% FRANQUICIA</td>
	<td>VIATIVO</td>
	<td>MOVILIZACION</td>
	<td>Email</td>
	<td>OPCION_SEGURO</td>
	<td>RUT CIA</td>
	<td>MONTO_SEGURO</td>
	<td>NUM_POLIZA</td>
	<td>RUT_EMPRESA</td>
	<td>SUCURSAL</td>
	<td>NACIONALIDAD</td>
	<td>DIRECCION_PARTICULAR</td>
	<td>CFT</td>
	</tr>

{LISTADO_USUARIOS}
</table>