
<br>
<br>

                              	<a name="seccionCierreParticipantes"></a><div class="small-box bg-blue ">
                                <div class="Txtinner">
                                    <p>
                                        DATOS REALES - INSCRIPCION FINALIZADA 
                                    </p>  
								</div>
                              	</div>
                              
                              
                              
                                  &nbsp; &nbsp; &nbsp; &nbsp;
<!--<a href="formato/basepersonas_cierre_inscripcion_masivo.xlsx" class='btn btn-default btn-sm'>Descargar Plantilla </a>-->

<a href="?sw=plantillaCierre&ii={ID_INSCRIPCION_ENCODEADO}" class='btn btn-default btn-sm'>Descargar Plantilla </a>
<form name="importa" method="post" action="?sw=procesa_excel_cierre_inscripciones" enctype="multipart/form-data" style="display:inline" >
<input type="file" name="excel" />
<input type="hidden" name="idi" value="{ID_INSCRIPCION_ENCODEADO}">
<button type="submit" class='btn btn-default btn-sm' >Subir Masivamente y Cerrar Inscripcion</button> 
<input type="hidden" value="upload" name="action" />
</form>
		
                              
<br>
<br>                              
                              
								<div class="small-box bg-blue">
                                <div class="Txtinner">
                                    <p>
                                        DETALLE DE PARTICIPANTES FINALIZADOS
                                    </p>
                                </div>
                                </div>                              
                              
   <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
                                            <tr>
                                                <th class="width40 bg_gray">RUT</th>
                                                <th class="width140 bg_gray">NOMBRE COMPLETO</th>
 												<th class="width80 bg_gray">PORCENTAJE ASISTENCIA</th> 
												<th class="width80 bg_gray">CASO ESPECIAL</th> 
												<th class="width80 bg_gray">NOTA</th> 
												<th class="width80 bg_gray">ESTADO</th> 
                                                <th class="width100 bg_gray">VALOR TOTAL<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Valor Total o Inversión:  Corresponde el Valor Hora* N° de horas capacitación * N° de Personas"><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width100 bg_gray">FRANQUICIA<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Franquicia sin CBC:  N° de Horas* Valor hora curso según codificación * %Franquicia*N° de Personas, Franquicia con CBC:  N° de Horas *Valor curso según codificación +20%*%Franquicia*N° de personas."><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width100 bg_gray">COSTO EMP.<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Costo Empresa: Corresponde a Valor Total - Franquicia"><i class="fa fa-question-circle"></i>
</button></th>
							                                                <th class="width80 bg_gray">VIATICO<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Viatico: Corresponde a la suma de dinero razonable que se paga por concepto de alojamiento y alimentación motivo de la asistencia de capacitación (siempre que deban ausentarse de su lugar de trabajo)

No se considera viatico: Coffe Break, llamadas telefónicas, bebidas alcohólicas, regalos, medicamentos o lavandería."><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width80 bg_gray">MOVILIZACION<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Movilidad:  Corresponde a tipo de movilidad pública,  que el trabajador deba acceder a la actividad de capacitación. (no se consideran gastos de compra de combustible, peaje, mantención y/o lavado de vehículo y compra de tarjeta bip.)
"><i class="fa fa-question-circle"></i>
</button></th>
                                            </tr>
                                        </thead>
                                        <tbody>
<a name="FormCierreInd"></a>
<form name="FormActualizaInd" method="post" action="?sw=actindcierre">
<input type="hidden" value="{ID_INSCRIPCION_ENCODEADO}" name="ii" />
{LISTADO_CIERRE_INSCRITOS_POR_CAPACITACION}
											
		
        
        <tr>
                                                <td colspan="12" align="center" class="miniSt"><button type="submit" class="btn btn-success">GUARDAR DETALLE PARTICIPANTE</button></td>
                                            </tr>
                                            
      </form>                                      
                                            
        
       <!-- <tr>
                                                <td class="miniSt">{RUT}</td>
                                                <td class="miniSt">{NOMBRE_USUARIO}</td>
                                                <td class="miniSt">{CARGO}</td>
                                                <td class="miniSt">{GERENCIA}</td>
                                                <td class="miniSt">{EMAIL}</td>
                                                <td class="miniSt">{EMPRESA_HOLDING}</td>
                                                <td class="miniSt">{TRAMO}</td>
                                                <td class="miniSt">{MONTO_VIATICO}</td>
                                                <td class="miniSt">{MONTO_MOVILIZACION}</td>
                                                <td class="miniSt">{MONTO_PERSONA}</td>
                                                <td class="miniSt">{MONTO_FRANQUICIA}</td>
                                                <td class="miniSt">{MONTO_EMPRESA}</td>
                                            </tr>
           -->                                 
                                            									
											
                                        </tbody>
                                        <tfoot>



                                          
                                        </tfoot>
                                    </table>
                                </div>                           
                              
          <div class="small-box bg-blue">
                                <div class="Txtinner">
                                    <p>
                                        DATOS REALES INSCRIPCION
                                    </p>
                                </div>
                                </div>                              
                              
   <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
										
										
										
                                            <tr>
                                                <th class="width40 bg_gray">ID inscripción</th>
                                                <th class="width80 bg_gray">NUM PARTICIPANTES</th>

                                                <th class="width80 bg_gray">VALOR TOTAL</th>

                                                <th class="width80 bg_gray">FRANQUICIA</th>
                                                <th class="width80 bg_gray">COSTO EMPRESA</th>
												
												 <th class="width80 bg_gray">VI&Aacute;TICO</th>
                                                <th class="width80 bg_gray">MOVILIZACI&Oacute;N</th>
                                            </tr>
                                        </thead>
										


  											<tr>
                                                <td class="miniSt">{ID_INSCRIPCION}</td>
                                                <td class="miniSt">{NUM_PARTICIPANTES}</td>
                                                <td class="miniSt">{MONTO_TOTAL}</td>
                                                <td class="miniSt">{MONTO_SENCE}</td>
                                                <td class="miniSt">{MONOT_EMPRESA}</td>
												 <td class="miniSt">{MONTO_VIATICO}</td>
                                                <td class="miniSt">{MONTO_MOVILIZACION}</td>
												
                                            </tr>
	
<!--{ROW_LISTADO_INSCRIPCIONES_RESUMEN}	-->
											
                                        </tbody>
                                        <tfoot>



                                          
                                        </tfoot>
                                    </table>
                                </div> 


<a name="FormDatosRelevantes"></a>
  <div class="small-box bg-blue">
                                <div class="Txtinner">
                                    <p>
                                        DATOS RELEVANTES DE INSCRIPCION FINALIZADA
                                    </p>
                                </div>
                                </div>  

<div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                         <form name="ForFinal" method="POST" action="?sw=gdatfin">
										

<input type="hidden" name="ii" value="{ID_INSCRIPCION_ENCODEADO}">
  											<tr>
                                                <td class="miniSt">MEJOR ALUMNO</td>
                                                <td class="miniSt"><select  class="form_control_admin" name="ma"><option  value="">-Seleccione-</option>{OPTIONS_ALUMNOS1}</option></td>
                                                <td class="miniSt"><textarea  class="form_control_admin" cols="50" name="comentma">{COENTARIO_MEJOR_ALUMNO}</textarea></td>
												
                                            </tr>
											
											
														<tr>
                                                <td class="miniSt">ALUMNO DESTACADO</td>
                                                <td class="miniSt"><select  class="form_control_admin" name="ad"><option  value="">-Seleccione-</option>{OPTIONS_ALUMNOS2}</option></td>
                                                <td class="miniSt"><textarea  class="form_control_admin" cols="50" name="comentad">{COMENTARIO_ALUMNO_DESTACADO}</textarea></td>
												
                                            </tr>
											
											
											
														<tr>
                                                <td class="miniSt">MEJORA CONTINUA</td>
                                                <td class="miniSt"><select name="mc"  class="form_control_admin"><option  value="">-Seleccione-</option>{OPTIONS_ALUMNOS3}</option></td>
                                                <td class="miniSt"><textarea  class="form_control_admin" cols="50" name="comentmc">{COMENTARIO_MEJORA_CONTINUA}</textarea></td>
												
                                            </tr>
											
											
								
											
														<tr>
                                                <td class="miniSt">PORCENTAJE DE SATISFACCION</td>
                                                <td class="miniSt"><select name="ps"  class="form_control_admin">
												<option value="">-Seleccione-</option>
												{OPTIONS_PORCENTAJE_SATISFACCION}
												
												</td>
                                                <td class="miniSt" ><textarea cols="50" name="comentps"  class="form_control_admin">{COMENTARIO_PORCENTAJE}</textarea></td>
												
                                            </tr>
										
										<tr><td colspan="3" align="center"><button type="submit" class="btn btn-success">GUARDAR DATOS REALES DE INSCRIPCION FINALIZADA</button></td></tr>
											
                                    </form>
                                    </table>
                                </div> 






								
                              

</div>

                            
                           
						   <!-- /.box -->
                        </div>
                    </div>
					
					
					


                       
					   
					  
								
								
								
								
								
								
								
								
								
								