<br>
<br>
										<div class="box-footer"><br>
<br>
                                        
                                    </div>

                                </div><!-- /.box-body -->

								
	{FORMuLARIO_INSCRIPCION_PARTICIPANTES_MASIVOS}							

                                
                                  
                              
								<div class="small-box bg-blue">
                                <div class="Txtinner">
                                    <p>
                                        DETALLE DE PARTICIPANTES INSCRITOS
                                    </p>
                                </div>
                                </div>                              
                              
   <div class="box-body table-responsive">
   
   								<p>
                                
                                
                                </p>
                                <a name="formSeccionusuariosInscritos"></a>
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
                                        
                                    
                                            
                                            
                                            
                                            
                                            <tr>
                                                <th class="width40 bg_gray">RUT</th>
                                                <th class="width140 bg_gray">NOMBRE COMPLETO</th>
                                                <th class="width140 bg_gray">CARGO</th>
                                                <th class="width80 bg_gray">GERENCIA</th>
                                                <th class="width60 bg_gray">EMAIL</th>
                                                <th class="width100 bg_gray">EMPRESA</th>

                                                <th class="width60 bg_gray">TRAMO</th>

	
                                                <th class="width100 bg_gray">VALOR TOTAL<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Valor Total o Inversión:  Corresponde el Valor Hora* N° de horas capacitación * N° de Personas"><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width100 bg_gray">FRANQUICIA<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Franquicia sin CBC:  N° de Horas* Valor hora curso según codificación * %Franquicia*N° de Personas, Franquicia con CBC:  N° de Horas *Valor curso según codificación +20%*%Franquicia*N° de personas."><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width100 bg_gray">COSTO EMP.<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Costo Empresa: Corresponde a Valor Total - Franquicia"><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width80 bg_gray">VIATICO<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Viatico: Corresponde a la suma de dinero razonable que se paga por concepto de alojamiento y alimentación motivo de la asistencia de capacitación (siempre que deban ausentarse de su lugar de trabajo)

No se considera viatico: Coffe Break, llamadas telefónicas, bebidas alcohólicas, regalos, medicamentos o lavandería."><i class="fa fa-question-circle"></i>
</button></th>
                                                <th class="width60 bg_gray">MOVILIZACION<br><button type="button" class="botonAdmin" data-toggle="tooltip" data-placement="right" title="Movilidad:  Corresponde a tipo de movilidad pública,  que el trabajador deba acceder a la actividad de capacitación. (no se consideran gastos de compra de combustible, peaje, mantención y/o lavado de vehículo y compra de tarjeta bip.)
"><i class="fa fa-question-circle"></i>
</button></th>
												
												
												
                                            </tr>
                                        </thead>
                                        <tbody>

{LISTADO_INSCRITOS_POR_CAPACITACION}
											
											
											
                                        </tbody>
                                        <tfoot>



                                          
                                        </tfoot>
                                    </table>
                                </div>                           
                              
          <div class="small-box bg-blue">
                                <div class="Txtinner">
                                    <p>
DATOS ESTIMADOS DE INSCRIPCION                                    </p>
                                </div>
                                </div>                              
                              
   <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
										
										
										
                                            <tr>
                                                <th class="width40 bg_gray">ID INSCRIPCION</th>
                                                <th class="width80 bg_gray">NUM PARTICIPANTES</th>
                                                <th class="width80 bg_gray">VALOR TOTAL</th>
                                                <th class="width80 bg_gray">FRANQUICIA</th>
                                                <th class="width80 bg_gray">COSTO EMPRESA</th>
                                                <th class="width80 bg_gray">VIÁTICO</th>
                                                <th class="width80 bg_gray">MOVILIZACION</th>

                                            </tr>
                                        </thead>
                                        <tbody>
										


  											<tr>
                                                <td class="miniSt">{ID_INSCRIPCION}</td>
                                                <td class="miniSt">{NUM_PARTICIPANTES}</td>
                                        
                                                <td class="miniSt">{MONTO_TOTAL}</td>
												
                                                <td class="miniSt">{MONTO_SENCE}</td>
                                                <td class="miniSt">{MONOT_EMPRESA}</td>
												<td class="miniSt">{MONTO_VIATICO}</td>
                                                <td class="miniSt">{MONTO_MOVILIZACION}</td>												
												
                                            </tr>
	
<!--{ROW_LISTADO_INSCRIPCIONES_RESUMEN}	-->
											
                                        </tbody>
                                        <tfoot>



                                          
                                        </tfoot>
                                    </table>
                                </div>                        
                              

							  {ENTORNO_CIERRE_INSCRIPCION}

							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
							  
</div>

                            
                           
						   <!-- /.box -->
                        </div>
                    </div>