
                                    <table id="example2" border="1">
                                        <thead>
                                            <tr>
                                                <th class="width40 bg_gray">RUT</th>
                                                <th class="width140 bg_gray">NOMBRE COMPLETO</th>
                                                <th class="width140 bg_gray">CARGO</th>
                                                <th class="width80 bg_gray">GERENCIA</th>
                                                <th class="width60 bg_gray">EMAIL</th>
                                                <th class="width100 bg_gray">EMPRESA</th>

                                                <th class="width60 bg_gray">TRAMO</th>

                                                <th class="width60 bg_gray">MONTO PERSONA</th>
												<th class="width60 bg_gray">MONTO FRANQUICIA</th>
												<th class="width80 bg_gray">MONTO EMPRESA</th> 

												<th class="width80 bg_gray">PORCENTAJE DE ASISTENCIA</th> 
												<th class="width80 bg_gray">CASO ESPECIAL</th> 
												<th class="width80 bg_gray">NOTA</th> 
												<th class="width80 bg_gray">ESTADO</th> 
												<th class="width80 bg_gray">VIATICO UTILIZADO</th> 
												<th class="width80 bg_gray">MONTO MOVILIZACION UTILIZADA</th> 
												</tr>
                                        </thead>
                                        <tbody>

{LISTADO_INSCRITOS_POR_CAPACITACION}
											
											
											
                                        </tbody>
                                        <tfoot>



                                          
                                        </tfoot>
                                    </table>
                               