					<form name="FormReprotes" method="POST" action="?sw=accioninsc">

                            <div class="small-box bg-blue ">
                                <div class="Txtinner">
                                    <p>
                                        FILTRO DE CURSOS 
                                    </p>
                                    
                                    
                              <div class="col-md-10 bg-lightgray  h60">         
										 <label>Cursos Disponibles</label><br>
                                            <select class="form-control texto_admin_mini" name="fil_c">
											<option value="0">Todas</option>
                                                {OPTIONS_CURSOS}

											</select>
									</div>
									
                             
									
                       
							
      		<div class="col-md-2 bg-lightgray h60"><br>
<button type="submit" class='btn btn-default btn-sm' >Seleccionar Curso</button> 
			</div>
							                        
   </form>                         		
									
                                </div>
								
								


                            </div>	