<tr>
<td class="miniSt">{NOMBRE_EMPRESA}</td>
<td class="miniSt">{MONTO_TOTAL_H}</td>
	<td class="miniSt">{MONTO_SENCE_H}</td>
	<td class="miniSt">{MONTO_EMPRESA_H}</td>
	
	
	
	
	<td class="miniSt">{MONTO_VIATICO_H}</td>
	<td class="miniSt">{MONTO_MOVILIZCION_H}</td>
	
	
	
	
	<td class="miniSt">
		<!--<a href="?sw=accioninsc&ii={ID_INSCRIPCION_ENCODEADO}" data-toggle="tooltip" data-placement="left" title="Modificar Inscripción"><i class="fa fa-pencil"></i></a>&nbsp;-->
		<a href="?sw=detinexc&ii={ID_INSCRIPCION_ENCODEADO}&reh={RUT_EMPRESA_HOLDING}" data-toggle="tooltip" data-placement="left" title="Descargar XLS para OTIC"><i class="fa fa-download"></i></a>&nbsp;
<!--		<a href="?sw=uploadarchii&ii={ID_INSCRIPCION_ENCODEADO}" data-toggle="tooltip" data-placement="left" title="Subir Documento" onclick="abrir(this.href);return false"><i class="fa fa-cloud-upload"></i></a>&nbsp;
-->        {ICONO_EXPORTAR_REPORTE_POR_EMPRESA}
		</td>



</tr>