<tr>
                                                <td class="miniSt">{ID_INSCRIPCION}</td>
                                                <td class="miniSt">{NUM_PARTICIPANTES}</td>
                                                <td class="miniSt">{MONTO_VIATICO}</td>
                                                <td class="miniSt">{MONTO_MOVILIZACION}</td>
                                                <td class="miniSt">{MONTO_SENCE}</td>
                                                <td class="miniSt">{MONOT_EMPRESA}</td>
                                                <td class="miniSt">{MONTO_TOTAL}</td>
												
                                            </tr>