<table border="1">
<tr>
	<td>{CODIGO_SENCE}</td>
	<td>{NOMBRE_CURSO}</td>
	<td>{NUMERO_HH_CURSO}</td>
	<td>{OTEC}</td>
	<td>{DIRECCION_OTEC}</td>
	<td>{FONO_OTEC}</td>
	<td>{FECHA_INICIO}</td>
	<td>{FECHA_TERMINO}</td>
	<td>{REGION}</td>
	<td>{CBC}</td>
	<td>{VALOR_PARTICIPANTE}</td>
	<td>{LUGAR_REALIZACION}</td>
	<td>{TIPO_CONTRATO}</td>
	<td>{DNC}</td>
	<td>{COMENTARIO}</td>
	<td>{HORARIOS}</td>
	<td>{RUT_SIN_DV}</td>
	<td>{DV}</td>
	<td>{NOMBRE}</td>
	<td>{APATERNO}</td>
	<td>{AMATERNO}</td>
	<td>{FECHA_NAC}</td>
	<td>{GENERO}</td>
	<td>{COMUNA}</td>
	<td>{COD_ESCOLARIDAD}</td>
	<td>{CODIGO_NIVEL}</td>
	<td>{PORCENTAJE_FRANQUICIA}</td>
	<td>{VIATICO}</td>
	<td>{MOVILIZACION}</td>
	<td>{EMAIL}</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>{RUT_EMPRESA_HOLDING}</td>
	<td></td>
	<td>{NACIONALIDAD}</td>
	<td>{DIRECCION_PARTICULAR}</td>
	<td>{CFT}	</td>
	</tr>


</table>