
                                            
                                            <tr>
                                                <td class="miniSt">{RUT}</td>
                                                <td class="miniSt">{NOMBRE_USUARIO}</td>

                                               
                                                <td class="miniSt">{PORCENTAJE_ASISTENCIA}</td>
												
                                                <td class="miniSt">{VALOR_OPTIONS_CASOS_ESPECIALES}</td>
												
												
                                                <td class="miniSt">{NOTA}</td>
												
												
                                                <td class="miniSt">{ESTADO}</td>
												
												
                                                
												<td class="miniSt">{ESTADO_ENCUESTA}</td>
												<td class="miniSt">{ACCESO_ENCUESTA}</td>
												
												
                                            </tr>
                                            
                                            
                                            