<tr>
                                                <td class="miniSt">{RUT}</td>
                                                <td class="miniSt">{NOMBRE_USUARIO}</td>
                                                <td class="miniSt">{CARGO}</td>
                                                <td class="miniSt">{GERENCIA}</td>
                                                <td class="miniSt">{EMAIL}</td>
                                                <td class="miniSt">{EMPRESA_HOLDING}</td>
                                                <td class="miniSt">{TRAMO}</td>
                                               
                                            </tr>