
{HEAD}
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
       <table width="100%" border="1">
	   
	   
					<form name="FormReprotes" method="POST" action="?sw=uploadarchii"  enctype="multipart/form-data">
                       
       <tr>
		<td class="small-box bg-blue">Subida de Archivos</td>
		</tr>
		<input type="hidden" value="si" name="sub">
		<input type="hidden" value="{ID_INSCRIPCION_ENCODEADA}" name="ii">
		   <tr>
		<td><input type="file" name="archivo_subida"></td>
		</tr>
		
		<tr>
			<td><button type="submit" class='btn btn-default btn-sm' >Subir Archivo</button></td>
		
       </tr>
				
				</form>					
				
		</table>		
				
							
						

    </body>
</html>