<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{TITTLE}</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {HEAD}
    </head>
    <body class="skin-blue">
        {HEADER}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <aside class="left-side sidebar-offcanvas">
                {MENU_IZQUIERDO}
            </aside>
            <aside class="right-side">
                {NAVEGACION}
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            {ENTORNO}
                        </div>
                    </div>
                </section>
            </aside>
        </div>
        {FOOTER_ADMIN}
        <script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate" : true,
                    "bLengthChange" : false,
                    "bFilter" : false,
                    "bSort" : true,
                    "bInfo" : true,
                    "bAutoWidth" : false
                });
            });
        </script>
    </body>
</html>