<div class="box-body table-responsive">
	<table id="example2" class="table table-bordered table-hover sortable">
		<thead>
			<tr>
				<th class="width140 bg_gray">COD</th>
				<th class="width140 bg_gray">NOMBRE CURSO</th>
				<th class="width80 bg_gray">MODALIDAD</th>
				<th class="width80 bg_gray">RUT EJECUTIVO</th>
				<th class="width80 bg_gray">EJECUTIVO</th>

				<th class="width80 bg_gray">FOCO</th>
				<th class="width80 bg_gray">PROGRAMA</th>
				<th class="width80 bg_gray">PROGRAMA ELEARNING</th>

			</tr>
		</thead>
		<tbody>
			{ROW_LISTADO_xls}
		</tbody>
		<tfoot>

		</tfoot>
	</table>
</div><!-- /.box-body -->

