<tr>

	<td class="">{id}</td>
	<td class="">{nombre}</td>
	<td class="">{modalidad}</td>

	<td class="">{id_foco}</td>
	<td class="">{Foco}</td>
	<td class="">{id_empresa_programa}</td>
	<td class="">{Programa}</td>

				<td class="">{id_inscripcion}</td>
				<td class="">{fechainicio}</td>
				<td class="">{fechatermino}</td>
				<td class="">{direccion}</td>
				<td class="">{ciudad}</td>
				<td class="">{cupos}</td>
				<td class="">{sesiones}</td>
				<td class="">{ejecutivo}</td>
				<td class="">{participantes}</td>

</tr>
                                           