<tr>
	<!--<td class="miniSt">{ORDEN}</td>-->
	<td class="miniSt">{CODIGO_CURSO}</td>

    <td class="miniSt"><strong>{NOMBRE}</strong></td>
	<!--<td class="miniSt">{CLASIFICACION}</td>-->
	<!--<td class="miniSt">{OTEC}</td>-->

	<td class="miniSt">{MODALIDAD}</td>
	<!--<td class="miniSt">{TIPO}</td>-->
	<!--<td class="miniSt">{CBC}</td>-->

	<td class="miniSt">{SENCE}</td>
	<td class="miniSt">{NUM_HORAS}</td>
	<!--<td class="miniSt">{VALOR_HORA}</td>-->
	<!--<td class="miniSt">{VALOR_CURSO}</td>-->
	<!--<td class="miniSt">{VALOR_HORA_SENCE}</td>-->

	<td>
	
	
	<a href="?sw=accioncurso2&i={CODIGO_ENCODEADO}" data-toggle="tooltip" data-placement="left" title="Modifica los datos"><i class="fa fa-pencil"></i></a>&nbsp;<a href="?sw=dltc&i={CODIGO_ENCODEADO}"  data-toggle="tooltip" data-placement="left" title="Elimina el registro"><i class="fa fa-trash-o"></i></a></td>

</tr>
                                           