<tr>
    <td class="miniSt">{CODIGO_CURSO}{TIPO_CURSO}</td>
    <td class="miniSt"><strong>{NOMBRE}</strong></td>
    <td class="miniSt">{MODULOS}</td>
    <td class="miniSt">{EJECUTIVO}</td>
    <td class="miniSt">{FOCO}</td>
    <td class="miniSt">{PROGRAMA}</td>
    <td class="miniSt">{PROGRAMA_ELEARNING}</td>
    <td class="miniSt">
        <a href="?sw=vista_mallas_clasificaciones_cursos_objetos&programa={ID_PROGRAMA}" data-placement="left" title="Crear Crear Modulos">Crear_Modulos</a><br>
        {INSCRIPCION_ASISTENCIA}<br>
        <a href="?sw=accioncurso2Elearning&i={CODIGO_ENCODEADO}" title="Ver y Modificar">Editar</a><br>
        <a href="?sw=dltc&i={CODIGO_ENCODEADO}" onclick="if (! confirm('Estas Seguro de Eliminar el Curso?')) return false;" title="Borrar Curso">Eliminar</a></td>
</tr>