
<div id="capa"><center><img src="img/loading.gif" width="100"></center></div>
<div id="capa_evaluado_evaluador"><center><img src="img/loading.gif" width="100"></center></div>


  

				  
<div class="panel-heading">
		<span class="panel-icon"><i class="fa fa-star"></i>&nbsp;&nbsp;</span> 
		<span class="panel-title"> Reporte por Evaluador</span>
</div>

<div class="table-responsive">
<table class="table admin-form theme-warning tc-checkbox-1 fs13">
                  <thead>
                 
                    <tr class="bg-light">
                      <th rowspan="2" class="width">&nbsp;</th>
                      <th rowspan="2" class="width">RUT</th>
                      <th rowspan="2" class="width">Foto</th>
                      <th rowspan="2" class="width">Nombre</th>
                      <th rowspan="2" class="width">Area</th>
                      <th rowspan="2" class="width">Total<br />Evaluados</th>
                      <th rowspan="2" class="width">Cambio<br />Clave</th>
                      
                      <th colspan="3" class="width">Fijación de Objetivos</th>
                      <th class="width">Evaluación Intermedia</th>
                      <th colspan="2" class="width">Evaluación Final</th>
                      </tr>
                      
                      <tr class="bg-light">
                      
                      <th class="width">Proposicion<br />Objetivos</th>
                      <th class="width">Fijación<br />Objetivos</th>                      
                      <th class="width">Validación<br />Objetivos</th>                                            
                      <th class="width">Evaluación<br />Intermedia</th>                                            
					 <th class="width">Evaluación<br />Final</th>                                            
                      <th class="width">Validación<br />Ev. Final</th>             
                                                                                     
                      
                      
   
                    </tr>
                  </thead>
                  <tbody>
                    
                    
   
	               
                    
           