
		
<table border="1">
                  <thead>
                 
                 
                    <tr class="bg-light">
                      <th class="width">&nbsp;</th>
                      <th class="width">RUT</th>
                      <th class="width">Nombre</th>
                      <th class="width">Cargo</th>
                      <th class="width">Area</th>
                      <th class="width">Total Evaluados</th>
                      <th class="width">Cambio Clave</th>
                      <th class="width">Proposicion Objetivos</th>
                      <th class="width">Fijacion Objetivos</th>                      
                      <th class="width">Validacion Objetivos</th>                                            
                      <th class="width">Evaluacion Intermedia</th>                                            
					 <th class="width">Evaluacion Final</th>                                            
                      <th class="width">Validacion Ev. Final</th>             
                                                                                     
                      
                      
   
                    </tr>
                  <tbody>
                    
                    
   
	               
                    
           