<tr>
                    
					<td class="miniSt" >{N}</td>
					<td class="miniSt" >{RUT}</td>
                    <td class="miniSt" >{NOMBRE}</td>
                    <td class="miniSt" >{CARGO}</td>
                	<td class="miniSt" >{AREA}</td>
                    <td class="miniSt" >{TOTAL_EVALUADOS}</td> 
                    <td class="miniSt" >{TOTAL_CLAVES_CAMBIADAS}</td> 
                    <td class="miniSt" >{TOTAL_PROP_OBJ}</td>                  
                    <td class="miniSt" >{TOTAL_FIJ_OBJ}</td>                  
                    <td class="miniSt" >{TOTAL_VAL_OBJ}</td>  
                    <td class="miniSt" >{TOT_EV_INTERMEDIA_A}</td>                   
                    <td class="miniSt" >&nbsp;</td>                   
                    <td class="miniSt" >&nbsp;</td>                   
             </tr>