<table>
	<tr>
		<th class="bg_gray" width="60px">ID_Curso</th>
		<th class="bg_gray" width="100px">Nombre Curso</th>
		<th class="bg_gray" width="60px">Modalidad</th>
		<th class="bg_gray" width="60px">Imparticion</th>
		<th class="bg_gray" width="60px">Ejecutivo</th>
		<th class="bg_gray" width="100px">Direccion</th>
		<th class="bg_gray" width="80px">Fecha Inicio</th>
		<th class="bg_gray" width="80px">Fecha Termino</th>
		<th class="bg_gray" width="60px">Sesiones</th>
		<th class="bg_gray" width="300px">DetalleSes</th>
		<th class="bg_gray">Asistentes</th>		
		<th class="bg_gray" width="100px">Inscritos</th>
		<th class="bg_gray">Preinscritos</th>
		<th class="bg_gray">Postulantes</th>
		<th class="bg_gray">Cupos</th>
		
		<th class="bg_gray"></th>
	</tr>
