<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{TITTLE}</title>
    <link href="css/datatables/dataTables.bootstrap.css" rel="stylesheet">
	
    <style>
        .dataTables_filter input {
            line-height: 20px;
        }
        .selecfiltro {
            width: 100%;
            line-height: 15px;
            font-size: 12px;
        }
		.label {
    		min-width: 115px;
		}

        .modal-backdrop fade in {
            z-index: 0 !important;
            opacity: 0.7;
        }

    </style>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {HEAD}
</head>
<body class="skin-blue">
    {HEADER}
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            {MENU_IZQUIERDO}
        </aside>
        <aside class="right-side">
            {NAVEGACION}
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">




                        <div class="box">
                            <div class="box-header box boxheader">
                                <div class="box-header">
                                    <h3 class="" style="margin-left:10px;"><i class="fa fa-fw fa-th-list"></i> Colaboradores Inscritos</h3>
                                    <span class="pull-left btn btn-link">
                                        <a href="?sw=listaInscripciones{ID_MODALIDAD_BACK}&i={ID_CURSO_ENCODEADO}" class="btn btn-link pull-left"><span class="negro">Volver</span></a>
                                    </span>
                                    <span class="pull-right">

																				<a href="?sw=VeReportesXImp2021&i={ID_INSCRIPCION_ENCODEADO}"   class="btn btn-link btn-link-2"  style="{DISPLAY_MODALIDAD2}">Reportes</a>
                                                                                <a class="btn btn-link btn-link-2" href="?sw=VeProveedoresXImp2021&i={ID_INSCRIPCION_ENCODEADO}">Proveedores</a>
                                        										<a href="?sw=VeDocsXImp2021&i={ID_INSCRIPCION_ENCODEADO}" class="btn btn-link btn-link-2"  style="{DISPLAY_MODALIDAD2}">Documentos</a>
                                        										<a href="?sw=QR_2023&i={ID_INSCRIPCION_ENCODEADO}" class="btn btn-link btn-link-2"  style="{DISPLAY_MODALIDAD2}">Encuesta Satisfacci&oacute;n</a>
																				<a href="?sw=MuestraBloqueCursoSeleccionadoDesdeCurso&i={i}&id_imparticion={ID_INSCRIPCION_ENCODEADO}" title="Editar Imparticion"  class="btn btn-link btn-link-2"  style="{DISPLAY_MODALIDAD2}">Editar Imparticion</a>

                                    </span>                                    
                                </div>
                            </div>
                        </div>
								<div class="col-md-12">
											<div class="panel panel-info">
												<div class="panel-heading">
													<h3 class="panel-title">Curso</h3>
												</div>
												<div class="panel-body">
														<span class="label label-sm label-info"> Curso {NOMBRE_MODALIDAD} </span> {ID_CURSO}  {NOMBRE_CURSO}
												</div>
											</div>
											<div class="panel panel-info">
												<div class="panel-heading">
													<h3 class="panel-title">Impartici&oacute;n</h3>
												</div>
												<div class="panel-body">
														<span class="label label-sm label-info" style="    margin-bottom: 1px;"> Imparticion </span> {ID_MODALIDAD}  {NOMBRE_IMPARTICION}
														<br>
														<span class="label label-sm label-info"  style="    margin-bottom: 1px;"> Fechas</span> {DATOS}
														<br>
														<span class="label label-sm label-info"  style="    margin-bottom: 1px;"> Estado Ejecuci&oacute;n</span> {ESTADO_EJECUCION}
														<br>
														 {CUPOS_INSCRITOS}
														 {NOTA_MINIMA_APROBACION}
														 {ASISTENCIA_MINIMA}
                                                        <br>
                                                        <a href="?sw=LibroClasesXImp2021&i={ID_INSCRIPCION_ENCODEADO}" class="btn btn-link">Ver Libro de Clases</a>
												</div>
											</div>																							
											<div class="panel panel-info">
												<div class="panel-heading">
													<h3 class="panel-title">Participantes</h3>
												</div>
												<div class="panel-body">
													<div class="row">
														<div class="col-lg-12">															
																<button class="btn btn-link pull-right" type="button" data-bs-toggle="collapse" data-bs-target="#refine-search" aria-expanded="false" aria-controls="refine-search" style="{DISPLAY_OTA_ABIERTA}">
																	  Agregar Participante Manual
																</button>
																<div class="collapse refine-search-collapse-container well" id="refine-search">
																			<form id="subir_persona" name="subir_persona" action="?sw=VeColaboradoresXImp2021&i={ID_IMPARTICION_ENCODEADO}" method="POST">
																				<label>Nuevo Participante (Agregar RUT sin DV)</label>
																				<input type="text" class="form form-control"  name="rut_col" required>
																					<br>
																				<input type="submit" class="btn btn-info" value="Agregar Participante" style="    margin-bottom: 20px;">
																					<br>
																			</form>
																</div>
														</div>
												</div>
																									
													<div class="row">
														<div class="col-lg-4">
																		<span class="label label-sm label-info">1. Descargar Participantes</span>
																		<br><a href="?sw=descargarInscritosPorImpart_2021&ci={ID_IMPARTICION_ENCODEADO}&sp=1"  class="btn btn-link "><span class="negro">Descargar Participantes</span></a><br>
														</div>
														<div class="col-lg-4">
																		<span class="label label-sm label-info" style="{DISPLAY_OTA_ABIERTA}">2. Actualiza los datos y s&uacute;belo aqu&iacute;</span>
                                    <form name="Form_Vm0wd2VFMUdiRmRpUm1SWFYwZDRWRmx0ZUV0WFJteDBaRWhrVmxKc2NEQmFWV1JIVmpKS1IyTkliRmRXTTFKTVZsVmFWMVpWTVVWaGVqQTk=" method="POST" action="?sw=accionSubeNotasPorImparticion_2021&sp=1" enctype="multipart/form-data" style="display: inline;{DISPLAY_OTA_ABIERTA}">
                                        <br>
                                        <input type="file" value="Subir Excel" name="file"  style="display: inline;">
                                        <input type="hidden" name="ci" value="{ID_IMPARTICION_ENCODEADO}"  style="display: inline;">
                                        <input type="submit" class="btn btn-success" value="Actualizar Participantes"  style="display: inline;">
                                    </form>
                                        <br><br>
														</div>
														<div class="col-lg-4">

														</div>
														

														
													</div>
											</div>
                   </div>     
 									<div class="panel panel-info" style="{display_asistencia_none}">
											<div class="panel-heading">
													<h3 class="panel-title">Asistencias, Notas y Estado</h3>
											</div>                       
											<div class="panel-body">

													<div class="row">
														<div class="col-lg-4">
																		<span class="label label-sm label-info">1. Descargar</span>
																		<br><a href="?sw=descargarInscritosPorImpart_2021&ci={ID_IMPARTICION_ENCODEADO}"  class="btn btn-link "><span class="negro">Descargar Asistencia</span></a><br>
														</div>
														<div class="col-lg-4">
																		<span class="label label-sm label-info" style="{DISPLAY_OTA_ABIERTA}">2. Actualiza los datos y s&uacute;belo aqu&iacute;</span>
                                    <form name="Form_Vm0wd2VFMUdiRmRpUm1SWFYwZDRWRmx0ZUV0WFJteDBaRWhrVmxKc2NEQmFWV1JIVmpKS1IyTkliRmRXTTFKTVZsVmFWMVpWTVVWaGVqQTk=" method="POST" action="?sw=accionSubeNotasPorImparticion_2021" enctype="multipart/form-data" style="display: inline;{DISPLAY_OTA_ABIERTA}"><br>
                                        <input type="file" value="Subir Excel" name="file"  style="display: inline;">
                                        <input type="hidden" name="ci" value="{ID_IMPARTICION_ENCODEADO}"  style="display: inline;">
                                        <input type="submit" class="btn btn-success" value="Actualizar Asistencia"  style="display: inline;">
                                    </form>
                                        <br><br>
														</div>
														<div class="col-lg-4">

														</div>
													</div>
												
                        <!--<div class="col-xs-6">
                            <span class="pull-right btn btn-link">
                                <a href="?sw=VeColaboradoresXImpXsess&i={ID_IMPARTICION_ENCODEADO}&exc=1"><input type="button" class="btn btn-success" value="Exportar a Excel"></a>

                            </span>
                        </div>-->
                        <!--<form method="POST" action="?sw=GuardaAsistenciasPorImparticion">-->
        <form method="POST" action="?sw=GuardaAsistenciasPorImparticionAsisNota_Manual_2021" enctype="multipart/form-data">
                        <input type="hidden" value="{ID_IMPARTICION_ENCODEADO}" name="id_imparticion">
                        <input type="hidden" value="{ID_CURSO_ENCODEADO}" name="id_curso">
                      <!--<div class="col-xs-12">
                                <div class="alert alert-warning" style="text-align: left;">
                                	<strong>Importante:</strong> Ingresa numericamente la Asistencia y Notas, y luego presiona el botón Guardar al final de la página
                                </div>
                       </div>-->
                    <table id="example2" class="table table-bordered table-hover sortable">
                            <thead>
                                <tr>
                                    <th class="bg_gray" width="25%">Participante</th>
                                    {SESIONES_1_TH}
                                    {SESIONES_2_TH}
                                    {SESIONES_3_TH}
                                    {SESIONES_4_TH}
                                    {SESIONES_5_TH}
                                    {SESIONES_6_TH}
                                    {SESIONES_7_TH}
                                    {SESIONES_8_TH}
                                    {SESIONES_9_TH}
                                    {SESIONES_10_TH}
                                    {SESIONES_11_TH}
                                    {SESIONES_12_TH}
                                    
                                    <th class="bg_gray" width="12%" title="Asistencia número entre 0 y 100"><strong>Asistencia<strong></th>
                                    <th class="bg_gray" width="12%" title="Nota número entre 0 y 100" style="{display_notas}"><strong>Nota Diagnostico<strong></th>
                                    <th class="bg_gray" width="12%" title="Nota número entre 0 y 100" style="{display_notas}"><strong>Nota Final<strong></th>
                                    <th class="bg_gray" width="12%"><strong>Estado<strong></th>
                                    <th width="5%">Diploma</th>
                                    <th width="5%"></th>
                                </tr>
                            </thead>
                            <tfoot style="display: table-header-group;">
                            </tfoot>
                            <tbody>
                                {ROW_LISTADO_COLABORADORES}
                            </tbody>
                        </table>
                        <center>
																<input type="submit" value="Guardar" class="btn btn-info" style="{DISPLAY_OTA_ABIERTA}">
                        </center>
                        </form> 
                        <br><br>
                        <br><br>
                        <br>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</aside>
</div>
{FOOTER_ADMIN}

<script type="text/javascript">
    $('#example2').DataTable({
        "oLanguage" : {
            "sProcessing" : "Procesando...",
            "sLengthMenu" : "Mostrar _MENU_ registros",
            "sZeroRecords" : "No se encontraron resultados",
            "sEmptyTable" : "Ningún dato disponible en esta tabla",
            "sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix" : "",
            "sSearch" : "Buscar: ",
            "sUrl" : "",
            "sInfoThousands" : ",",
            "sLoadingRecords" : "Cargando...",
            "oPaginate" : {
                "sFirst" : "Primero",
                "sLast" : "Último",
                "sNext" : "Siguiente",
                "sPrevious" : "Anterior"
            },
            "oAria" : {
                "sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending" : ": Activar para ordenar la columna de manera descendente"
            }
        },
        "bAutoWidth" : false,
        "pageLength" : 50,
        "order" : [],
        "columnDefs" : [{
            "targets" : [0],
            "searchable" : true
        }],
        initComplete : function() {
            this.api().columns('.select-filter').every(function() {
                var column = this;
                var select = $('<select class="selecfiltro"></select>').appendTo($(column.footer()).empty()).on('change', function() {
                    var val = $.fn.dataTable.util.escapeRegex($(this).val());
                    column.search( val ? '^' + val + '$' : '', true, false).draw();
                });
                column.data().unique().sort().each(function(d, j) {
                    select.append('<option value="' + d + '">' + d + '</option>')
                });
            });
        }
    });
</script>
</body>
</html>