
		
									<table id="example2" class="table table-bordered table-hover sortable">
										<thead>
											<tr>
												<th class="width140 bg_gray">COD</th>
												<th class="width140 bg_gray">NOMBRE_CURSO</th>
												<th class="width140 bg_gray" >CODIGO SENCE</th>
												<th class="width140 bg_gray">EJECUTIVO</th>
												<th class="width140 bg_gray">NUM IMPARTICIONES</th>
												<th class="width140 bg_gray">Opciones</th>
											</tr>
										</thead>
										<tfoot style="display: table-header-group;">

										</tfoot>
										<tbody>
											{ROW_LISTADO}
										</tbody>
										<tfoot>

										</tfoot>
									</table>
								

