
                                    <table >

                                            <tr>
                                                <th >Rut</th>
                                                <th >Nombre</th>
                                                <th >Cargo</th>
                                                <th >Campo 1</th>
                                                <th >Campo 2</th>
                                                <th >Campo 3</th>

                                                <th >Asistencia</th>
                                                <th >Nota</th>


                                            </tr>

                                            {ROW_LISTADO_COLABORADORES}

                                    </table>
