<span class="label label-sm label-info"> Curso</span><br>
<input class="form-control" name="curso" readonly required="required" required style="    width: 120px;display: inline;margin-right: 15px;"
       type="text" value="{ID_CURSO_DESDE_MALLA}"/>
<strong>{NOMBRE_CURSO_DESDE_MALLA}</strong>
<br>
<br>
<span class="label label-sm label-danger"> Codigo Impartici&oacute;n</strong></span>
<input class="form-control" name="cod_imparticion" readonly required="required" type="number"
       value="{VALUE_COD_IMPARTICION}"/>
<br>

<!--
<span class="label label-sm label-info"> Malla</span>

    <select name="id_malla" id="id_malla" class="form-control" required>
        <option value="">-Seleccione-</option>
        {OPTIONS_MALLAS}
    </select>
<br>	-->
<div class="" id="content_fecha_inicio_termino">
    <span class="label label-sm label-info"> Fecha Inicio y T&eacute;rmino</span>
    <div class="panel-heading">
        <div>
            {FORMULARIO_HORARIOS_LINEA_FECHA_INICIO_TERMINO_ELEARNING}
        </div>
    </div>
    <BR>
</div>

<span class="label label-sm label-info"> Nombre Impartici&oacute;n</span>
&nbsp;
<input class="form-control" name="nombre" required type="text" value="{VALUE_NOMBRE}"/>
<br>
<span class="label label-sm label-info"> Consultor Capacitaci&oacute;n</span>
<br>
<select class="form-control" name="ejecutivo" required>
    <option value=""></option>
    {OPTIONS_EJECUTIVOS}
</select>
</br>
<hr>

