<tr>
    <td class="miniSt"><strong>{NOMBRE_IMPARTICION_MALLA}</strong></td>
    <td class="miniSt">{ID_IMPARTICION_MALLA}</td>
    <td class="miniSt">{ESTADO_EJECUCION}</td>
    <td class="miniSt">{FECHAS_SESIONES}
    </td><td class="miniSt">{EJECUTIVO_MALLA}</td>
    </td>
    <td class="miniSt">
        {INSCRITOS} 	<!--{DESCARGA_PARTICIPANTES}-->
    </td>
    <td class="miniSt">
        <a href="?sw=MuestraBloqueCursoSeleccionadoDesdeMalla&i={ID_IMPARTICION_ENC}&idpbbdd={ID_PROGRAMA_ENCODEAR}&id_malla_enc={ID_IMPARTICION_MALLA_ENC}&edit=1" title="Editar Imparticion">Editar</a>
        <br>
        <a href="?sw=MuestraBloqueCursoSeleccionadoDesdeMalla&i={ID_IMPARTICION_ENC}&idpbbdd={ID_PROGRAMA_ENCODEAR}&id_malla_enc={ID_IMPARTICION_MALLA_ENC}&del=1">Eliminar</a>
    </td>
</tr>
