<tr>

    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">{CORRELATIVO}</td>
    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">{NOMBRE}</td>
    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">{RUT}</td>
    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">{DV}</td>
    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">________________________________________</td>
    <td class="miniSt" style="    padding-bottom: 31px;    padding-top: 31px;">______________________</td>
</tr>