<tr>
	<td class="miniSt">{ID_CURSO}</td>
    <td class="miniSt">{CURSO}</td>
	<td class="miniSt">{MODALIDAD_CURSO}</td>
	<td class="miniSt">{CODIGOINCRIPCION}</td>
	<td class="miniSt">{EJECUTIVO}</td>	
	<td class="miniSt">{DIRECCION} {CIUDAD}</td>
	<td class="miniSt">{FECHA_INICIO}</td>
	<td class="miniSt">{FECHA_TERMINO}</td>
	<td class="miniSt">{NUMSESIONES}</td>
	<td class="miniSt">{DETALLE_SESIONES_XLS}</td>
	<td>{CHEQUEADOS_NUMERO}</td>
	<td class="miniSt">{INSCRITOS_NUMERO}</td>
	<td class="miniSt">{PREINSCRITOS_NUMERO}</td>
	<td>{POSTULANTES_NUMERO}</td>
	<td>{CUPOS_NUMERO}</td>
</tr>
                                           