<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{TITTLE}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {HEAD}
    <link href="js/plugins/sweetalerts/sweetalert.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap5.1.3/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="css/bootstrap5.1.3/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="css/datatables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link href="css/fileinput.min.css" rel="stylesheet">
    <!-- CSS only -->
</head>
<body class="skin-blue">
{HEADER}
<div class="wrapper row-offcanvas row-offcanvas-left">
    <aside class="left-side sidebar-offcanvas">
        {MENU_IZQUIERDO}
    </aside>
    <aside class="right-side">
        {NAVEGACION}
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Facturas</h3>
                            </div>
                        </div>
                    </div>
                    {ENTORNO}
                </div>
            </div>
        </section>
    </aside>
</div>
<script src="js/plugins/jquery.min.js?v1" ></script>
<script src="js/plugins/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="js/plugins/bootstrap.min.js" ></script>
<script src="js/plugins/fileinput/fileinput.js?v1"></script>
<script src="js/plugins/fileinput/es.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="js/plugins/sweetalerts/sweetalert.js"></script>
<script src="js/facturas.js?v5"></script>
</body>
</html>