
                                                <td>{N}</td>
                                                <td>{NOMBRE_EVALUACION}</td>
                                                <td>{DESCRIPCION}</td>
                                                <td>{NUMERO_PREGUNTAS}</td>
                                                <td><a href="?sw=accionEvaluacion&i={ID_EVALUACION_ENCODEADO}"><i class="fa fa-fw fa-cogs"></i></a></td>
                                                
                                            </tr>
                                       