<div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover sortable">
                                        <thead>
                                            <tr>
												<th class="width80 bg_gray">ACCION</th>
                                                <th class="width140 bg_gray">CODIGO CURSO</th>
                                                <th class="width140 bg_gray">NOMBRE</th>
                                                <th class="width140 bg_gray">DESCRIPCION</th>
                                                <th class="width140 bg_gray">FECHA INICIO</th>
                                                <th class="width140 bg_gray">FECHA TERMINO</th>

										</tr>
                                        </thead>
                                        <tbody>
                                            {ROW_LISTADO}
                                        </tbody>
                                        <tfoot>
                                          
                                        </tfoot>
                                    </table>
							
									
                                </div>