<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AdminLTE | Data Tables</title>
		<link href="css/datatables/dataTables.bootstrap.css" rel="stylesheet">
		<style>

		.dataTables_filter input {

		line-height: 20px;

		}

		</style>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
{HEAD}
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        {HEADER}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                {MENU_IZQUIERDO}
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                {NAVEGACION}
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Listado de Clasificaci&oacute;n</h3> 
								<div class="pull-right">									
                                    <a href="?sw=accionclasificacion" class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Agregar</a>  
									</div>                                 
                                </div><!-- /.box-header -->
								<hr>
                                <div class="box-body table-responsive">
                                    <table id="tabla1" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
											<th style="width:150px;">ORDEN</th>
                                                <th style="width:150px;">ID</th>
                                                <th>NOMBRE</th>
                                                <th style="width:150px;">N° CURSOS</th>
                                                <th style="width:100px;">OPCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {ROW_LISTADO_CATEGORIAS}
                                        </tbody>
                                        <tfoot>
                                          
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                            
                           
						   <!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->


     {FOOTER_ADMIN}

	 	<!-- DataTables JavaScript -->

    <script src="./js/plugins/datatables/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="js/datables2.js"></script>
    <script src="./js/plugins/datatables/dataTables.bootstrap.js"></script>

        <script type="text/javascript">
		$('#tabla1').DataTable( {
		
		"order": [ 0, '	desc' ],
		  "columnDefs": [{"targets": [ 0 ],"visible": false,"searchable": false}]
		  
		  } );
		</script>
	 
    

    </body>
</html>