				<tr {bgcolor}="" role="row" class="even">
					<form name="{ID_ENC}" action="?sw=proveedores_ejecutivos_save" method="post">	
						<td class="mp_txt_small">
							
									<input type="text" class="form-control" id="rut" name="rut" aria-describedby="" value="{RUT}" required>
									<span style="font-size:2px; color:#fff">{ID}</span>
									<span style="font-size:2px; color:#fff">{RUT}</span>
						</td>
						<td class="mp_txt_small">
									<input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="" value="{NOMBRE}" required>
									<span style="font-size:2px; color:#fff">{NOMBRE}</span>
						</td>
						<td class="mp_txt_small">
									<input type="text" class="form-control" id="cargo" name="cargo" value="{CARGO}" aria-describedby="">
						</td>
						<td class="mp_txt_small">
									<input type="email" class="form-control" id="email" name="email" value="{EMAIL}" aria-describedby="">
						</td>
						<td class="mp_txt_small">
									<input type="text" class="form-control" id="tipo_relator" name="tipo_relator" value="{TIPO_RELATOR}" aria-describedby="">
						</td>
						<td class="mp_txt_small">
									<input type="text" class="form-control" id="empresa" name="empresa" value="{EMPRESA}" aria-describedby="">
						</td>
						<td class="mp_txt_small">
									<input type="submit" class="btn btn-link"  value="Guardar">
									<input type="hidden" id="id" name="id" value="{ID_ENC}">
									<input type="hidden" id="tipo" name="tipo" value="{ID_TIPO}">
									
							<a href="?sw=lista_proveedores_otec&tipo={ID_TIPO}&del={ID_ENC}" class="btn btn-link">
									Eliminar							
							</a>
						</td>
					</form>		
				</tr>