<tr>
	<td>{NUMERO}			
    {BTN_ORDEN}
	</td>
	<td>{CODIGO_MALLA}</td>
	<td>{NOMBRE_MALLA}</td>
	<td>{TIPO_MALLA}</td>
	<td>{TOTALCURSOS}</td>

	<td>
	<a href="?sw=listmallaclasificacion&m={CODIGO_MALLA_ENCODEADO}"><span class="fa fa-list"></span> Cursos</a>&nbsp;&nbsp;&nbsp; 
	 <a href="?sw=accioncmalla&i={CODIGO_MALLA_ENCODEADO}"><span class="glyphicon glyphicon-edit"></span> Editar</a>
	<!--<a href="?sw=relmallacurso&i={CODIGO_MALLA_ENCODEADO}"><span class="fa fa-fw fa-cogs"></a>!-->
	</span>
	</td>
</tr>
                                           